._pagination {
    display: flex;
    margin: 10px 0 0 0;
    padding: 0;
    justify-content: center;
    li {
        list-style: none;
        color: #448d2f;
        background: white;
        border: 1px solid #a0a0a0;
        border-right: none;
        display: flex;
        &:first-of-type {
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
        }
        &:last-of-type {
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
            border-right: 1px solid #a0a0a0;
        }
        a {
            padding: 4px 10px;
            color: #448d2f;
            text-decoration: none;
            background: transparent;
        }
        &:hover {
            background: #eee;
        }
        &.active {
            cursor: default;
            background: linear-gradient(0deg, #4f8d3e 0%, #52a83a 100%);
            a {
                color: white;
            }
        }
    }
}
