.admin_sec {
    padding-top: 50px;
}

.admin {
    &-content {
        &_filter {
            &-row {
                display: flex;
                align-items: center;
                width: 100%;
                padding: 12px 0 13px;
                border-top: 1px solid #e8e8e8;

                &:first-child {
                    border-top: none;

                    @media screen and (max-width: 639px) {
                        flex-direction: column;
                    }

                    .admin-content_filter-container {
                        justify-content: space-between;
                    }

                    p, select, input, .admin-content_filter-container {
                        @media screen and (max-width: 639px) {
                            width: 100%;
                            margin-bottom: 10px;
                        }
                    }
                }

                & > p {
                    width: 25%;
                    @media screen and (max-width: 639px) {
                        width: 40%;
                    }
                }

                select {
                    border: 1px solid #cacaca;
                    border-radius: 25px;
                    width: 170px;
                    outline: none;
                    padding: 3px 5px 4px;
                    box-sizing: border-box;
                }

                input {
                    border: 1px solid #cacaca;
                    border-radius: 25px;
                    width: 250px;
                    outline: none;
                    padding: 4px 5px 5px;
                    box-sizing: border-box;
                    color: $primary-color;
                    margin: 0 10px;

                    &::placeholder,
                    &[type=date] {
                        color: #cacaca;
                    }

                    @media screen and (max-width: 639px) {
                        margin: 0;
                    }
                }

                .subprimary-btn {
                    width: 160px;
                    padding: 3px 32px 3px;

                    @media screen and (max-width: 639px) {
                        margin: 0 auto;
                    }
                }
            }

            &-container {
                display: flex;
                align-items: center;
                width: 75%;

                @media screen and (max-width: 639px) {
                    align-items: flex-start;
                    flex-direction: column;
                    width: 60%;
                }

                img {
                    width: auto;
                }

                .form-radio {
                    width: 25%;

                    @media screen and (max-width: 639px) {
                        margin: 5px 0;
                    }

                    label {
                        display: flex !important;
                        align-items: center;

                        img {
                            margin-right: 5px;
                        }
                    }

                    input[id^=replenishment-] {
                        & + label {
                            font-size: 11px;
                        }
                    }
                }

                &_date {
                    width: 100%;
                    justify-content: space-between;

                    @media screen and (max-width: 479px) {
                        flex-direction: column;
                    }

                    input {
                        width: 43%;

                        @media screen and (max-width: 479px) {
                            width: 100%;

                            &:first-child {
                                margin-bottom: 5px;
                            }
                        }
                    }

                    span {
                        @media screen and (max-width: 479px) {
                            display: none;
                        }
                    }
                }
            }

            &-replenishment {
                .admin-content_filter-row:nth-child(2) {
                    .admin-content_filter-container {
                        flex-wrap: wrap;
                    }
                }

                .admin-content_filter-container {
                    justify-content: space-between;
                }

                .form-radio {
                    width: 30%;

                    @media screen and (max-width: 767px) {
                        width: 50%;
                        margin-bottom: 5px;
                    }

                    @media screen and (max-width: 639px) {
                        width: 100%;
                    }
                }
            }
        }

        @media screen and (max-width: 991px) {
            overflow: hidden;
        }

        &_list {
            &-container {
                @media screen and (max-width: 991px) {
                    overflow: scroll
                }
            }

            @media screen and (max-width: 991px) {
                min-width: 991px;
                height: calc(100vh - 150px);

            }

            &-row {
                & > ul {
                    display: flex;
                    justify-content: space-between;

                    li {
                        width: 15%;
                        word-break: break-word;
                        padding-left: 7px;
                        padding-right: 7px;

                        &:first-child {
                            padding-left: 0;
                            width: 10%;
                        }

                        &:last-child {
                            padding-right: 0;
                        }

                        &.replenishment-list_item {
                            display: flex;
                            align-items: self-start;
                            font-size: 11px;

                            div {
                                display: flex;
                                align-items: center;
                            }

                            img {
                                width: auto;
                                margin-right: 10px;
                            }

                            &-total {
                                font-weight: 700;
                                color: #448d2f;
                            }
                        }
                    }
                }
            }

            &-rewModer_row {
                form {
                    margin: 5px 0;
                }

                ul {
                    display: flex;
                    justify-content: space-between;

                    li {
                        &:first-of-type {
                            width: 10%;
                        }

                        &:nth-of-type(2) {
                            width: 50%;

                            textarea {
                                width: 100%;
                                resize: none;
                                height: 200px;
                                font-size: 14px;
                                border: 1px solid #cacaca;
                                border-radius: 25px;
                                outline: none;
                                color: $primary-color;
                                padding: 14px;
                                box-sizing: border-box;
                                overflow-y: auto;
                            }
                        }

                        &:nth-of-type(3) {
                            width: 15%;
                        }

                        &:last-of-type {
                            width: 15%;

                            button {
                                &:first-of-type {
                                    margin-bottom: 15px;
                                }
                            }
                        }
                    }
                }
            }

            &-header {
                .admin-content_list-row {

                    ul {
                        border-top: 1px solid #e8e8e8;
                        border-bottom: 1px solid #e8e8e8;

                        li {
                            font-weight: 700;
                            color: #448d2f;
                            padding-top: 9px;
                            padding-bottom: 8px;
                        }
                    }
                }
            }

            &-body {
                .admin-content_list-row {
                    & > ul {
                        li {
                            padding-top: 9px;
                            padding-bottom: 8px;

                            &:first-child {
                                font-weight: 700;
                            }

                            .menu-drop {
                                display: block;
                                margin-top: 0;
                                height: 25px;
                                width: 25px;

                                &_burger {

                                    span {
                                        width: 3px;
                                        height: 3px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

/*-----menu-drop-----*/
.admin_sec {
    .menu-drop {
        margin-top: -10px;
        display: none;

        @media screen and (max-width: 991px) {
            display: block;
        }


        .menu-drop_burger {
            flex-direction: column;
        }

        &_list {
            &-item {
                width: 100% !important;
                padding: 0 !important;
            }
        }
    }
}

/*-----menu-drop-----*/