.obyavlenie {

    &-list {

        &_row {
            display: flex;
            align-items: center;
            padding: 25px 0;

            border-bottom: 1px solid #e8e8e8;

            &:first-of-type {
                border-top: 1px solid #e8e8e8;
            }

            @media screen and(max-width: 767px) {
                flex-direction: column;
            }
        }
    }

    &-box {
        display: flex;
        background: #fff;
        border-radius: 30px;
        max-width: 635px;
        width: 100%;

        @media screen and(max-width: 767px) {
            flex-direction: column;
            max-width: 100%;
        }

        &_img {
            width: 50%;

            @media screen and(max-width: 767px) {
                width: 100%;
            }

            img {
                border-radius: 30px 0 0 30px;
                height: 100%;
                object-fit: cover;

                @media screen and(max-width: 767px) {
                    border-radius: 30px 30px 0 0;
                    height: 200px;
                }
            }
        }

        &_info {
            width: 50%;
            padding: 13px 31px 8px;
            box-sizing: border-box;
            display: flex;
            flex-direction: column;

            @media screen and(max-width: 767px) {
                padding: 15px;
                width: 100%;
            }

            &-user {
                font-size: 12px;
                text-align: right;
                margin-bottom: 15px;
            }

            &-title {
                font-size: 16px;
                font-weight: 700;
            }

            &-subtitle {
                margin-bottom: 25px;
            }

            &-price {
                font-size: 12px;
                margin-top: 36px;

                span {
                    font-weight: 700;
                    color: #448d2f;
                    font-size: 16px;
                }
            }

            &-rating {
                display: flex;
                align-items: center;

                .star-rating + p {
                    font-size: 12px;
                    color: #bfbfbf;
                    margin-left: 15px;
                }
            }
        }
    }

    &-filter {
        padding-left: 30px;
        box-sizing: border-box;

        @media screen and (max-width: 767px) {
            padding: 15px;
            width: 100%;
        }

        &_container {
            display: flex;
            flex-direction: column;

            @media screen and (max-width: 767px) {
                flex-direction: row;
                flex-wrap: wrap;
            }

            .form-radio {
                display: flex !important;
                flex-direction: column;
                margin-bottom: 15px;
                box-sizing: border-box;

                @media screen and (max-width: 767px) {
                    width: 50%;
                }

                &:last-of-type {
                    margin-bottom: 30px;
                }

                label {
                    font-size: 12px;

                    @media screen and (max-width: 479px) {
                        font-size: 10px;
                    }
                }

                small {
                    font-size: 12px;
                    color: #9c9c9c;
                    margin-left: 28px;

                    @media screen and (max-width: 479px) {
                        font-size: 10px;
                    }
                }
            }
        }
    }
}