.admin-content {

  &_title {
    font-size: 16px;
    color: #448d2f;
    font-weight: 700;
    margin-top: 6px;
    padding-bottom: 15px;
    width: 100%;
    border-bottom: 1px solid #e8e8e8;
  }

  &_banners {
    &-list {
      &_item {
        padding-bottom: 25px;

        &:not(:last-of-type) {
          border-bottom: 1px solid #e8e8e8;
        }

        .admin-content_title {
          border: none;
          font-size: $primary-size;
          padding: 25px 0;
          margin: 0;
        }
      }

      &_container {
        display: flex;

        @media screen and (max-width: 767px) {
          flex-direction: column;
        }

        .banner {

          &-block {
            min-height: 172px;
            max-width: 267px;
            width: 100%;
            border-radius: 30px;
            background: #fff;
            position: relative;
            margin-right: 18px;

            @media screen and (max-width: 767px) {
              max-width: 100%;
              margin-right: 0;
              margin-bottom: 15px;
            }

            img {
              height: 96px;
              object-fit: cover;
              border-radius: 30px 30px 0 0;
            }

            .obyavlenie-box_info-title {
              font-size: 14px;
              font-weight: 400;
              margin-top: 7px;
              margin-left: 20px;
            }

            .obyavlenie-box_info-subtitle {
              font-size: 11px;
              color: #bfbfbf;
              padding-bottom: 8px;
              margin-left: 20px;
            }

            &_price {
              width: fit-content;
              background: #fff;
              position: absolute;
              top: 25px;
              right: -5px;
              padding: 0 10px;

              span {
                color: #448d2f;
                font-weight: 700;
              }
            }
          }

          &-form {
            width: 100%;

            &_row {
              display: flex;
              align-items: center;
              margin-bottom: 15px;

              &:first-of-type {
                flex-direction: column;
                align-items: flex-start;

                input {
                  margin-bottom: 15px;
                }

                .banner-form_btn {
                  display: flex;
                  align-items: center;
                  justify-content: space-between;
                  width: 100%;
                  max-width: 400px;

                  @media screen and (max-width: 479px) {
                    flex-direction: column;
                  }
                }
              }

              .admin-content_filter-container_date {

                input {
                  max-width: 194px;
                  width: 100%;
                  padding: 2px 5px 3px;

                  @media screen and (max-width: 479px) {
                    max-width: 100%;
                    margin: 5px 0;
                  }
                }
              }
            }

            &_btn {
              display: flex;
              align-items: center;
              justify-content: space-between;
            }

            form {
              input {
                border: 1px solid #cacaca;
                border-radius: 25px;
                width: 100%;
                max-width: 400px;
                outline: none;
                padding: 4px 5px 5px;
                box-sizing: border-box;
                color: #394e33;
                font-size: 14px;

                &[type=date],
                &::placeholder {
                  color: #cacaca;
                }
              }

              .subprimary-btn {
                padding: 3px 0 4px;
                width: 192px;

                @media screen and (max-width: 479px) {
                  width: 100%;
                  margin: 5px 0;
                }
              }
            }

            &_timeLeft {
              display: flex;
              align-items: center;
              padding-left: 10px;

              img {
                width: auto;
                margin-right: 10px;
              }
            }
          }
        }
      }
    }
  }
}