.costPlacement {
    .title {
        background: #448d2f;
        color: #fff;
        font-weight: bold;
        font-size: 16px;
        padding: 7px 5px 6px;
        width: 75%;

        @media screen and (max-width: 991px) {
            width: 100%;
        }
    }

    &-box {
        padding-left: 15px;
        box-sizing: border-box;
        border-bottom: 1px solid #e8e8e8;
        padding-bottom: 25px;

        @media screen and (max-width: 767px) {
            padding-left: 0;
        }

        &:not(:last-of-type) {
            margin-bottom: 25px;
        }

        ul.description,
        p.description {
            margin: 16px 0;
        }

        .img-container {
            position: relative;

            img {
                width: auto;
                box-shadow: 0 0 29px -5px rgb(0 0 0 / 20%);
                border-radius: 30px;
                display: block;

                @media screen and (max-width: 767px) {
                    max-width: 90%;
                    margin: 0 auto;
                }


                @media screen and (max-width: 479px) {
                    border-radius: 20px;
                    max-width: 100%;
                    box-shadow: none;
                }
            }

            &.serviceChoice {
                &:before {
                    content: '';
                    position: absolute;
                    top: -5px;
                    left: 20px;
                    background-image: url("../../img/admin/item2-1.png");
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: contain;
                    width: 77px;
                    height: 36px;
                }
            }
        }

        .price {
            display: flex;
            margin-top: 25px;

            @media screen and (max-width: 767px) {
                flex-direction: column;
            }

            ul {
                display: flex;
                flex-direction: column;
                width: 25%;

                @media screen and (max-width: 767px) {
                    flex-direction: row;
                    width: 100%;
                }

                @media screen and (max-width: 575px) {
                    flex-direction: column;
                }

                &:not(:last-of-type) {
                    margin-right: 40px;
                }

                li {

                    @media screen and (max-width: 767px) {
                        margin-right: 15px;
                    }

                    @media screen and (max-width: 575px) {
                        margin-right: 0;
                    }

                    &:first-of-type {
                        margin-bottom: 15px;
                    }

                    &:not(:first-of-type) {
                        font-weight: bold;
                        color: #448d2f;
                    }

                    &:last-of-type {
                        @media screen and (max-width: 575px) {
                            margin-bottom: 25px;
                        }
                    }
                }
            }

            span {
                color: #b8b8b6;
                width: 50%;

                @media screen and (max-width: 767px) {
                    width: 100%;
                }
            }
        }

        form {
            ul {
                li {
                    display: flex;
                    align-items: center;
                }
            }

            input {
                width: 70px;
                margin-right: 5px;

                &::placeholder {
                    color: #448d2f;
                    font-size: 14px;
                    font-family: 'Montserrat';
                }
            }

            button {
                width: 150px;
                margin-left: auto;
                margin-top: 25px;
            }
        }
    }
}