.sidebar {
  width: 269px;
  padding: 39px 14px 0 0;
  border-right: 1px solid #e8e8e8;

  @media screen and (max-width: 991px) {
    border: none;
    width: 100%;
    padding: 15px 0 0;
  }

  &-list {

    @media screen and (max-width: 991px) {
      display: none;
    }

    &_item {

      padding: 12px 15px 13px 0;
      display: block;
      box-sizing: border-box;
      cursor: pointer;

      &:not(:last-of-type) {
        border-bottom: 1px solid #e8e8e8;
      }

      a {
        color: $primary-color;
        font-weight: 700;
        position: relative;
      }

      &-active,
      &:hover {

        a {
          color: #448d2f;

          &:after {
            content: url("../../img/admin/arrow.png");
            position: absolute;
            top: 0;
            right: -15px;
            bottom: 0;
            margin: auto;
            transform: rotate(90deg);
          }
        }
      }
    }
  }
}