.admin-content {

    .user-edit {
        padding-top: 15px;

        label {
            display: block;
            margin-bottom: 25px;

            .info {
                display: flex;
                align-items: center;
                margin-bottom: 10px;

                span {
                    font-size: 16px;
                    margin-right: 15px;
                    font-weight: 500;
                }

                button {
                    border: none;
                    background-color: transparent;
                    display: flex;
                    align-items: center;
                    color: #448d2f;
                    font-size: 14px;
                }
            }

            input {
                border: 1px solid #448d2f;
                border-radius: 15px;
                color: #a4a4a4;
                background-color: transparent;
                font-size: 16px;
                outline: transparent;
                padding: 2px 5px;
            }
        }

        &_btns {
            display: flex;
            flex-direction: row;
            width: 50%;
            margin-top: 45px;

            button:last-of-type {
                color: #d0d0d0;
                border-color: #d0d0d0;
                margin-left: 15px;

                &:hover {
                    background: transparent;
                    color: #d0d0d0;
                    border-color: #d0d0d0;
                }
            }
        }
    }
}
