.cabinet_sec {
    padding-top: 95px;

    .message-container {
        padding-bottom: 25px;

        .message-header {
            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid #cfcfcf;
            padding-bottom: 10px;

            @media screen and (max-width: 767px) {
                margin-top: 20px;
            }

            &_info {
                display: flex;
                align-items: center;
                max-width: 70%;

                img {
                    width: 65px;
                    margin-right: 10px;
                }

                &-name {

                    p {

                        &:first-of-type {
                            font-weight: 700;
                        }

                        span {
                            font-size: 12px;
                            color: #d0d0d0;
                            margin-left: 15px;
                            font-weight: normal;

                            @media screen and (max-width: 767px) {
                                margin: 0;
                            }
                        }


                        @media screen and (max-width: 767px) {
                            display: flex;
                            flex-direction: column-reverse;
                        }
                    }
                }

                @media screen and (max-width: 767px) {
                    max-width: 100%;
                }
            }

            .toggle-menu {
                display: block;

                .toggle-items {
                    padding: 15px 24px;
                    top: 51px;
                }

                label {
                    flex-direction: row;
                    width: 40px;
                    height: 40px;
                    padding: 0;
                    margin: 0;
                    cursor: pointer;
                    align-items: flex-end;

                    span {
                        width: 5px;
                        height: 5px;
                        background: #438b2e;
                        display: block;
                        border-radius: 25px;
                    }
                }
            }
        }

        .message-body {
            padding: 15px;
            height: 60vh;
            max-height: 768px;
            overflow: auto;
            box-sizing: border-box;

            .message-dialog_box {
                .date-message {
                    font-size: 12px;
                    color: #cfcfcf;
                    text-align: center;
                    display: block;
                    width: fit-content;
                    margin: 0 auto 15px;
                }

                .interlocutor_message {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    max-width: 70%;
                    margin-bottom: 15px;

                    @media screen and (max-width: 767px) {
                        max-width: 100%;
                    }

                    p {
                        word-break: break-word;
                    }

                    span {
                        margin-left: 10px;
                        font-size: 12px;
                        color: #cfcfcf;
                    }

                    .message-content {
                        display: flex;
                    }

                    .pin_img {
                        max-width: 250px;
                        width: 100%;
                        height: auto;
                        margin-top: 25px;
                    }
                }

                .me_message {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;
                    margin-left: auto;
                    max-width: 70%;
                    margin-bottom: 15px;

                    @media screen and (max-width: 767px) {
                        max-width: 100%;
                    }

                    svg {
                        fill: #cfcfcf;
                        width: 10px;
                    }

                    svg.check {
                        fill: #129bff;
                    }

                    p {
                        word-break: break-word;
                    }

                    span {
                        margin: 0 10px;
                        font-size: 12px;
                        color: #cfcfcf;
                    }

                    .message-content {
                        display: flex;
                        align-items: center;
                        justify-content: flex-end;
                    }

                    .pin_img {
                        max-width: 250px;
                        width: 100%;
                        height: auto;
                        margin-top: 25px;
                    }
                }
            }
        }

        .message-footer {
            padding-top: 15px;

            form {
                display: flex;
                align-items: center;

                @media screen and (max-width: 767px) {
                    flex-direction: column;
                }

                label {
                    display: flex;
                    align-items: center;
                    width: 70%;

                    @media screen and (max-width: 767px) {
                        width: 100%;
                        margin-bottom: 15px;
                    }

                    img {
                        width: auto;
                    }

                    input {
                        border: 1px solid #cacaca;
                        border-radius: 10px;
                        width: 100%;
                        outline: none;
                        padding: 5px;
                        box-sizing: border-box;
                        color: #394e33;
                        margin: 0 10px;
                        font-size: 14px;
                        resize: none;

                        &::placeholder {
                            color: #909090;
                        }

                        @media screen and (max-width: 767px) {
                            margin-right: 0;
                        }
                    }
                }

                button {
                    max-width: 100%;
                    width: 30%;

                    @media screen and (max-width: 767px) {
                        width: 100%;
                    }
                }
            }
        }
    }
}

.modal-window {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.25);

    & > div {
        max-width: 900px;
        width: 100%;
        height: fit-content;
        max-height: 100%;
        box-sizing: border-box;

        @media screen and (max-width: 991px) {
            width: 90%;
        }
    }

    .modal-reviews_list {
        height: 100%;
        max-height: 600px;
        overflow: auto;
        padding-right: 15px;

        @media screen and (max-width: 639px) {
            height: 440px;
        }

        &-item {
            &:not(:last-of-type) {
                margin-bottom: 40px;
            }

            &.addReview-item {
                margin-top: 25px;

                textarea {
                    border: 1px solid #cacaca;
                    border-radius: 25px;
                    width: 100%;
                    outline: none;
                    padding: 9px;
                    box-sizing: border-box;
                    color: #394e33;
                    margin: 0 15px 0 0;
                    font-size: 14px;
                    resize: none;
                    height: 150px;

                    &::placeholder {
                        color: #cecece;
                    }
                }

                .addReview-item-control {
                    margin-top: 15px;
                    display: flex;
                    justify-content: space-between;
                    align-items: flex-start;

                    @media screen and (max-width: 767px) {
                        flex-direction: column;
                        align-items: flex-end;
                    }

                    input {
                        max-width: 300px;
                        border: 1px solid #cacaca;
                        border-radius: 25px;
                        width: 100%;
                        outline: none;
                        padding: 9px;
                        box-sizing: border-box;
                        color: #394e33;
                        margin: 0 15px 0 0;
                        font-size: 14px;
                    }

                    button {
                        max-width: 250px;
                    }

                    & > div {
                        display: flex;
                        align-items: center;

                        @media screen and (max-width: 767px) {
                            width: 100%;
                            justify-content: space-between;
                            margin-bottom: 15px;
                        }
                    }
                }
            }
        }

        .name {
            img {
                width: 20px;
                margin: 0 5px;
            }
        }

        .review-text {
            margin: 15px 0;
        }

        .send_message {
            display: flex;
            align-items: center;
            justify-content: space-between;

            @media screen and (max-width: 767px) {
                flex-direction: column;
            }

            input {
                border: 1px solid #cacaca;
                border-radius: 25px;
                width: 70%;
                outline: none;
                padding: 9px;
                box-sizing: border-box;
                color: #394e33;
                margin: 0 15px 0 0;
                font-size: 14px;

                @media screen and (max-width: 767px) {
                    width: 100%;
                    margin: 0 0 15px 0;
                }

                &::placeholder {
                    color: #cecece;
                }
            }

            button {
                width: 30%;

                @media screen and (max-width: 767px) {
                    width: 100%;
                }
            }
        }
    }

    /* полоса прокрутки (скроллбар) */
    ::-webkit-scrollbar {
        width: 5px; /* ширина для вертикального скролла */
        height: 5px; /* высота для горизонтального скролла */
        background-color: #cecece;
    }

    /* ползунок скроллбара */
    ::-webkit-scrollbar-thumb {
        background-color: #52a83a;
        border-radius: 9em;
    }

    ::-webkit-scrollbar-thumb:hover {
        background-color: #52a83a;
    }

    /* Стрелки */

    ::-webkit-scrollbar-button:vertical:start:decrement {
        //display: none;
        background: #fff;
        height: 50px;
    }

    ::-webkit-scrollbar-button:vertical:end:increment {
        //display: none;
        background: #fff;
        height: 50px;
    }

    ::-webkit-scrollbar-button:horizontal:start:decrement {
        //display: none;
        background: #fff;
        width: 50px;
    }

    ::-webkit-scrollbar-button:horizontal:end:increment {
        //display: none;
        background: #fff;
        width: 50px;
    }
}

.cabinet {

    &-content {
        width: 100%;
        padding-top: 30px;
        padding-left: 15px;
        box-sizing: border-box;

        @media screen and (max-width: 991px) {
            padding-left: 0;
        }

        .balance-block {

            &_title {
                font-weight: 700;
                font-size: 16px;
                margin-bottom: 20px;
            }

            &_replenishment {
                display: flex;
                align-items: center;

                label {
                    display: flex;
                    align-items: center;
                    margin-right: 10px;

                    input {
                        border: 1px solid #cacaca;
                        border-radius: 25px;
                        width: 200px;
                        outline: none;
                        padding: 8px;
                        box-sizing: border-box;
                        color: #394e33;
                        font-size: 16px;
                        margin-right: 10px;
                    }
                }

                & + .balance-block_title {
                    margin-top: 25px;
                }

                &-type {
                    margin-bottom: 25px;

                    .form-radio {
                        margin-bottom: 15px;

                        label {
                            display: flex;
                            align-items: center;

                            img {
                                width: auto;
                                margin-right: 15px;
                            }
                        }
                    }

                    & + .primary-btn {
                        padding: 8px;
                        width: 200px;
                    }
                }
            }
        }

        .object-block {

            &_container {
                display: flex;
                padding: 10px 0;
                width: 100%;
                justify-content: space-between;

                @media screen and (max-width: 767px) {
                    flex-direction: column;
                }
            }

            &_list {
                padding-bottom: 100px;

                &-item {
                    border-bottom: 1px solid #e8e8e8;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    padding-bottom: 25px;
                }
            }

            &_info {
                display: flex;
                align-items: center;
                width: 65%;
                position: relative;

                @media screen and (max-width: 767px) {
                    width: 100%;
                    margin-bottom: 25px;
                }

                @media screen and (max-width: 479px) {
                    flex-direction: column;
                    align-items: flex-start;
                }

                &-label {
                    display: flex;
                    align-items: center;
                    font-size: 12px;
                    padding: 0 15px;

                    @media screen and (max-width: 575px) {
                        font-size: 10px;
                    }

                    &:first-of-type {
                        padding-top: 15px;
                    }

                    &:not(:last-of-type) {
                        margin-bottom: 5px;
                    }

                    img {
                        width: 25px;
                        height: auto;
                        margin-right: 5px;
                    }

                    .status {
                        display: flex;
                        align-items: center;
                        margin-right: 25px;
                        width: 50%;
                    }

                    span {
                        width: 50%;
                    }

                    &.-label_prem {
                        color: #0093ff;
                    }

                    &.-label_serv_sel {
                        color: #d31620;
                    }
                }

                .vip_info {
                    display: flex;
                    align-items: center;
                    position: absolute;
                    top: -40px;
                    left: 15px;

                    .approved_service {
                        display: flex;
                        align-items: center;
                        font-size: 12px;
                        color: #d31620;
                        width: 100px;
                        margin-right: 10px;

                        img {
                            width: auto;
                            margin-right: 10px;
                        }
                    }

                    span {
                        font-size: 12px;
                        color: #0093ff;
                        width: 70px;
                    }
                }

                .image {
                    width: 160px;
                    margin-right: 30px;

                    @media screen and (max-width: 479px) {
                        width: 100%;
                        margin-bottom: 15px;
                        margin-right: 0;
                    }

                    img {
                        height: 150px;
                        object-fit: cover;
                    }
                }

                &-title {
                    font-weight: 700;
                    font-size: 16px;
                    word-break: break-all;
                }

                &-rating {
                    display: flex;
                    align-items: center;
                    margin-bottom: 10px;

                    p {
                        margin-left: 10px;
                        color: #bfbfbf;
                        font-size: 12px;
                    }
                }

                &-price {
                    span {
                        color: #448d2f;
                        font-weight: 700;
                        font-size: 16px;
                    }
                }
            }

            &_control {
                button {
                    font-size: 14px;
                    padding: 8px 15px;
                    border-radius: 25px;
                    background: transparent;
                    border-width: 1px;

                    &.edit-object {
                        border-color: #448d2f;
                        color: #448d2f;
                    }

                    &.delete-object {
                        border-color: #cd3d3d;
                        color: #cd3d3d;
                    }
                }
            }

            &_statistic {
                display: flex;
                justify-content: space-between;
                width: 35%;
                padding-right: 15px;
                box-sizing: border-box;

                @media screen and (max-width: 767px) {
                    align-items: flex-end;
                    width: 100%;
                }

                & > ul {
                    li {
                        display: flex;
                        align-items: center;
                        margin-bottom: 5px;

                        span {
                            color: #cfcfcf;
                            margin-left: 5px;
                        }
                    }
                }

                &-image {
                    width: 20px;
                    margin-right: 10px;
                    display: flex;
                    justify-content: center;

                    img {
                        width: auto;
                    }
                }

                &-menu {
                    display: block;

                    label {
                        flex-direction: row;
                        width: 40px;
                        height: 40px;
                        padding: 0;
                        margin-top: -20px;
                        cursor: pointer;

                        @media screen and (max-width: 767px) {
                            margin-top: 0;
                            margin-bottom: -10px;
                        }

                        span {
                            width: 5px;
                            height: 5px;
                            background: #438b2e;
                            display: block;
                            border-radius: 25px;
                        }
                    }

                    .toggle-items {
                        width: 225px;

                        li {
                            line-height: 2;
                        }
                    }
                }
            }
        }

        .reviews {
            &-list {
                display: flex;
                flex-wrap: wrap;
                position: relative;

                &_item {
                    display: flex;
                    width: 48%;
                    padding: 0 25px 25px 0;
                    box-sizing: border-box;
                    margin-right: 15px;

                    @media screen and (max-width: 859px) {
                        width: 100%;
                        padding-right: 0;
                        margin-right: 0;
                    }

                    @media screen and (max-width: 479px) {
                        flex-direction: column;
                    }

                    &-info {
                        padding-right: 15px;
                        box-sizing: border-box;
                        width: 50%;

                        @media screen and (max-width: 479px) {
                            width: 100%;
                            padding: 0;
                        }

                        img {
                            max-width: 160px;
                            width: 100%;
                            margin-bottom: 15px;

                            @media screen and (max-width: 859px) {
                                max-width: 100%;
                            }
                        }

                        .title {
                            font-weight: 700;
                            font-size: 16px;
                        }

                        .subtitle {
                            margin-bottom: 5px;
                        }

                        &_rating {
                            display: flex;
                            align-items: center;

                            p {
                                color: #bfbfbf;
                                font-size: 12px;
                                margin-left: 5px;
                            }
                        }
                    }

                    &-review {
                        width: 50%;

                        @media screen and (max-width: 479px) {
                            width: 100%;
                            margin-top: 25px;
                        }

                        .title {
                            font-size: 16px;
                            font-weight: 700;
                            margin-bottom: 20px;
                        }

                        .name {
                            margin-bottom: 5px;

                            img {
                                width: 20px;
                                margin: 0 5px;
                            }
                        }

                        .date {
                            margin-bottom: 15px;
                        }

                        .review-text {
                            position: relative;

                            span {
                                position: absolute;
                                top: 0;
                                left: 0;
                                right: 0;
                                bottom: 0;
                                margin: auto;
                                display: block;
                                width: 100%;
                                height: 100%;
                                -webkit-box-shadow: 0px -15px 30px -7px rgb(245 245 245) inset;
                                -moz-box-shadow: 0px -15px 30px -7px rgba(245, 245, 245, 1) inset;
                                box-shadow: 0px -15px 30px -7px rgb(245 245 245) inset;
                            }
                        }

                        .show_reviews {
                            margin-top: 5px;
                            background: transparent;
                            border-radius: 5px;
                            border: 1px solid #394e33;
                            padding: 2px 5px;
                        }

                        a {
                            color: #0093ff;
                            display: block;
                            margin-top: 10px;
                            position: relative;
                            width: fit-content;

                            &:after {
                                content: '';
                                position: absolute;
                                top: 0;
                                bottom: 0;
                                right: -15px;
                                margin: auto;
                                width: 5px;
                                height: 5px;
                                border-right: 1px solid #0093ff;
                                border-bottom: 1px solid #0093ff;
                                transform: rotate(-45deg);
                            }
                        }
                    }
                }

            }
        }

        .messages-list {
            &_item {
                position: relative;
                border-bottom: 1px solid #e8e8e8;
                padding-bottom: 15px;
                display: flex;

                &:not(:first-of-type) {
                    padding-top: 15px;
                }

                a {
                    display: flex;
                    align-items: stretch;
                    color: $primary-color;

                    @media screen and (max-width: 479px) {
                        flex-direction: column;
                    }

                    & > img {
                        width: 125px;
                        margin-right: 35px;

                        @media screen and (max-width: 479px) {
                            margin-bottom: 5px;
                        }
                    }
                }

                .info {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;

                    &-title {

                        @media screen and (max-width: 479px) {
                            margin-bottom: 5px;
                        }

                        p {
                            &:first-of-type {
                                font-size: 16px;
                                font-weight: 700;
                            }
                        }
                    }

                    &-messages {
                        color: #a8a8a8;
                        word-break: break-all;
                    }
                }

                .date {
                    position: absolute;
                    top: 0;
                    right: 0;
                    color: #a8a8a8;
                }
            }

            .modal-window {
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.25);

                & > div {
                    max-width: 900px;
                    width: 100%;
                    height: fit-content;
                    max-height: 100%;
                    box-sizing: border-box;
                    padding-top: 15px;
                    padding-bottom: 15px;

                    @media screen and (max-width: 991px) {
                        width: 90%;
                    }
                }


                /* полоса прокрутки (скроллбар) */
                ::-webkit-scrollbar {
                    width: 5px; /* ширина для вертикального скролла */
                    height: 5px; /* высота для горизонтального скролла */
                    background-color: #cecece;
                }

                /* ползунок скроллбара */
                ::-webkit-scrollbar-thumb {
                    background-color: #52a83a;
                    border-radius: 9em;
                }

                ::-webkit-scrollbar-thumb:hover {
                    background-color: #52a83a;
                }

                /* Стрелки */

                ::-webkit-scrollbar-button:vertical:start:decrement {
                    //display: none;
                    background: #fff;
                    height: 50px;
                }

                ::-webkit-scrollbar-button:vertical:end:increment {
                    //display: none;
                    background: #fff;
                    height: 50px;
                }

                ::-webkit-scrollbar-button:horizontal:start:decrement {
                    //display: none;
                    background: #fff;
                    width: 50px;
                }

                ::-webkit-scrollbar-button:horizontal:end:increment {
                    //display: none;
                    background: #fff;
                    width: 50px;
                }
            }
        }

        .cabinet-settings {
            label {
                display: block;
                margin-bottom: 25px;

                .info {
                    display: flex;
                    align-items: center;
                    margin-bottom: 10px;

                    span {
                        font-size: 16px;
                        margin-right: 15px;
                        font-weight: 500;
                    }

                    button {
                        border: none;
                        background-color: transparent;
                        display: flex;
                        align-items: center;
                        color: #448d2f;
                        font-size: 14px;

                        @media screen and (max-width: 479px) {
                            margin-bottom: 5px;
                            padding: 0;
                        }

                        svg {
                            margin-right: 5px;
                        }
                    }

                    @media screen and (max-width: 479px) {
                        flex-direction: column-reverse;
                        align-items: unset;
                    }
                }

                input {
                    border: none;
                    color: #a4a4a4;
                    background-color: transparent;
                    font-size: 16px;
                    outline: transparent;
                    padding: 2px 0;

                    &.edit {
                        border: 1px solid #448d2f;
                        background-color: #fff;
                        color: $primary-color;
                        border-radius: 15px;
                        padding: 2px 5px;
                    }
                }
            }

            &_btns {
                display: flex;
                flex-direction: row;
                width: 50%;
                margin-top: 45px;

                @media screen and (max-width: 575px) {
                    width: 100%;
                }

                .primary-btn:last-of-type {
                    color: #d0d0d0;
                    border-color: #d0d0d0;
                    margin-left: 15px;

                    &:hover {
                        background: transparent;
                        color: #d0d0d0;
                        border-color: #d0d0d0;
                    }
                }
            }
        }

        .select-box_booking {
            display: flex;
            flex-direction: column;
            border-bottom: 1px solid #e8e8e8;
            margin-bottom: 15px;

            .custom-select {
                position: relative;
                width: 50%;
                margin-bottom: 15px;

                @media screen and (max-width: 639px) {
                    width: 100%;
                }

                &:after {
                    content: "";
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    right: 5px;
                    margin: auto;
                    background-image: url('../../img/front/larr.png');
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: center;
                    width: 5px;
                    height: 5px;
                    transform: rotate(-90deg);
                }

                select {
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    appearance: none;
                    width: 100%;
                    outline: transparent;
                    border: 1px solid #dcdcdc;
                    border-radius: 25px;
                    box-sizing: border-box;
                    padding: 4px 10px;
                }
            }
        }

        .booking-block {
            @media screen and(max-width: 991px) {
                overflow-x: scroll;
            }

            &_title {
                font-weight: 700;
                font-size: 14px;
                margin-bottom: 20px;
            }

            .booking-calendar {
                @media screen and(max-width: 991px) {
                    min-width: 991px;
                }

                .datepicker {
                    width: 100%;

                    .datepicker--day-name,
                    .datepicker--cell {
                        height: 48px;
                        font-size: 16px;
                    }
                }
            }

            form {
                margin: 15px 0;

                @media screen and(max-width: 991px) {
                    min-width: 991px;
                }

                .booking-row {
                    display: flex;
                    align-items: flex-end;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    padding: 15px 0;

                    label,
                    button {
                        width: 30%;
                    }

                    label p {
                        font-weight: 700;
                        font-size: 14px;
                        margin-bottom: 5px;
                    }

                    input {
                        border: 1px solid #cacaca;
                        border-radius: 25px;
                        outline: none;
                        padding: 7px 15px;
                        box-sizing: border-box;
                        color: #394e33;
                        background-color: transparent;
                        width: 100%;
                    }
                }
            }

            .booking-content_list {

                @media screen and(max-width: 991px) {
                    min-width: 991px;
                }

                li {
                    width: 13%;
                    word-break: break-all;
                }

                .booking-content_list-row {
                    ul {
                        display: flex;
                        justify-content: space-between;
                    }
                }

                .booking-content_list-header {
                    .booking-content_list-row {
                        ul {
                            border-top: 1px solid #e8e8e8;
                            border-bottom: 1px solid #e8e8e8;

                            li {
                                font-weight: 700;
                                color: #448d2f;
                                padding-top: 9px;
                                padding-bottom: 8px;
                            }
                        }
                    }
                }

                .booking-content_list-body {
                    .booking-content_list-row {
                        ul {
                            li {
                                padding-top: 9px;
                                padding-bottom: 8px;
                            }
                        }
                    }
                }
            }
        }
    }

    &-block {
        &_list {
            width: 100%;
            margin-top: 30px;

            @media screen and (max-width: 991px) {
                width: 991px;
            }

            &-header {
                ul {
                    font-weight: 700;
                    padding: 15px 0 10px;
                    margin-bottom: 10px;
                    border-bottom: 1px solid #e8e8e8;
                }
            }

            &-row {
                ul {
                    display: flex;
                    align-items: flex-end;
                    justify-content: space-between;

                    li {
                        width: 30%;
                        padding: 5px 0;
                    }
                }
            }
        }
    }

    &-wrapper {


        .cabinet-sidebar {
            &.newObject-sidebar {
                @media screen and (max-width: 991px) {
                    width: 100%;
                }
            }

            .newObject-nav {
                .select_tab {
                    cursor: pointer;
                }

                .select_tab, .left_tab {
                    font-weight: bold;
                    color: #c2c2c2;
                    padding: 15px 0;
                    font-size: 16px;
                    cursor: pointer;

                    @media screen and (max-width: 991px) {
                        padding: 5px 0;
                        font-size: 14px;
                        text-align: center;
                    }

                    &:first-of-type {
                        padding-top: 0;
                    }

                    &:not(:last-of-type) {
                        border-bottom: 1px solid #e8e8e8;
                    }

                    &.select_tab-active {
                        color: $primary-color;
                    }
                }
            }
        }

        .cabinet-content {
            .add_object {
                .tabs {
                    display: none;

                    .title {
                        color: #448d2f;
                        margin-bottom: 25px;
                    }

                    .newObject-row {

                        &_input {
                            display: flex;

                            @media screen and (max-width: 991px) {
                                flex-direction: column;
                            }

                            .form-radio {
                                &:not(:last-of-type) {
                                    margin-right: 25px;
                                }

                                label {
                                    display: flex;
                                    flex-direction: column;
                                }

                                small {
                                    color: #d2d2d2;
                                    font-size: 12px;
                                }
                            }
                        }
                    }

                    .type_rest-block {
                        border-bottom: 1px solid #e8e8e8;
                        padding-bottom: 25px;
                        margin-bottom: 25px;
                    }

                    .object-card {
                        &_row {
                            display: flex;
                            margin-bottom: 25px;

                            @media screen and (max-width: 374px) {
                                flex-direction: column;
                            }

                            p {
                                color: #448d2f;
                                width: 100px;
                                margin-right: 25px;

                                @media screen and (max-width: 374px) {
                                    margin-bottom: 15px;
                                }
                            }

                            label {
                                width: 100%;
                                display: flex;
                                align-items: flex-start;

                                @media screen and (max-width: 575px) {
                                    flex-direction: column;
                                    align-items: flex-start;
                                }

                                div {
                                    @media screen and (max-width: 575px) {
                                        margin-top: 10px;
                                    }
                                }

                                img {
                                    width: auto;
                                    margin: 0 10px;
                                }

                                input {
                                    width: 100%;
                                    border: 1px solid #cacaca;
                                    border-radius: 25px;
                                    outline: none;
                                    padding: 3px 15px;
                                    box-sizing: border-box;
                                    color: #394e33;
                                    background-color: transparent;

                                    &::placeholder {
                                        color: #d2d2d2;
                                    }
                                }

                                textarea {
                                    resize: none;
                                    width: 50%;
                                    border: 1px solid #cacaca;
                                    border-radius: 10px;
                                    outline: none;
                                    padding: 3px 15px;
                                    box-sizing: border-box;
                                    color: #394e33;
                                    background-color: transparent;
                                    height: 70px;

                                    @media screen and (max-width: 575px) {
                                        width: 100%;
                                    }

                                    &::placeholder {
                                        color: #d2d2d2;
                                    }
                                }

                                & > span {
                                    margin-right: 10px;
                                    display: flex;
                                    align-items: flex-start;

                                    @media screen and (max-width: 575px) {
                                        margin-bottom: 15px;
                                    }
                                }

                                span.info {
                                    position: relative;
                                    display: inline-block;
                                    width: fit-content !important;
                                    margin-left: 15px;


                                    /* Tooltip text */
                                    .tooltiptext {
                                        visibility: hidden;
                                        width: 120px;
                                        background-color: black;
                                        color: #fff;
                                        text-align: center;
                                        padding: 5px 0;
                                        border-radius: 6px;

                                        /* Position the tooltip text - see examples below! */
                                        position: absolute;
                                        z-index: 1;
                                    }

                                    /* Show the tooltip text when you mouse over the tooltip container */
                                    &:hover .tooltiptext {
                                        visibility: visible;
                                        width: 120px;
                                        bottom: 100%;
                                        left: 50%;
                                        margin-left: -60px;
                                    }

                                    &:hover {
                                        g {
                                            fill: #448d2f;
                                        }
                                    }
                                }
                            }

                            .label-box {
                                width: 100%;

                                @media screen and (max-width: 575px) {
                                    width: 100%;
                                }

                                label {
                                    width: 100%;
                                    margin-bottom: 15px;

                                    span, input {
                                        width: 50%;

                                        @media screen and (max-width: 575px) {
                                            width: 100%;
                                        }
                                    }
                                }

                                .upload-photo {
                                    display: flex;
                                    flex-direction: column;
                                    align-items: flex-start;
                                    width: 100%;

                                    .upload-img_box {
                                        display: flex;
                                        width: 100%;
                                        flex-wrap: wrap;

                                        &-item {
                                            display: flex;
                                            align-items: flex-start;
                                            width: 120px;

                                            img {
                                                width: 80px;
                                                height: auto;
                                                margin: 5px;
                                            }

                                            button {
                                                background: transparent;
                                                border: none;
                                            }
                                        }
                                    }

                                    input, textarea {
                                        border: 1px solid #cacaca;
                                        border-radius: 25px;
                                        outline: none;
                                        padding: 3px 15px;
                                        box-sizing: border-box;
                                        color: #394e33;
                                        background-color: transparent;
                                        width: 50%;

                                        @media screen and (max-width: 767px) {
                                            width: 100%;
                                        }
                                    }

                                    textarea {
                                        height: 150px;
                                        resize: none;

                                        width: 100%;
                                    }

                                    .subtitle {
                                        width: 100%;
                                        margin: 15px 0;
                                    }
                                }
                            }
                        }

                        .addHotel-number {
                            border-top: 1px solid #e8e8e8;
                            padding: 25px 0;

                            &_btn {
                                display: flex;
                                align-items: center;
                                background: transparent;
                                border: none;
                                font-size: 16px;
                                color: #448d2f;
                                margin-top: 25px;
                                margin-bottom: 25px;

                                svg {
                                    margin-right: 5px;
                                }
                            }

                            hr {
                                background-color: #e8e8e8;
                                margin-bottom: 25px;
                                border: none;
                                color: #e8e8e8;
                                height: 1px;
                            }

                            .addHotel-number_form {
                                padding-top: 25px;

                                button {
                                    margin-bottom: 25px;
                                }
                            }
                        }
                    }

                    .object-balance {

                        small {
                            color: #c2c2c2;
                        }

                        .object_balance-row {
                            display: flex;
                            align-items: center;
                            padding: 25px 0;

                            @media screen and (max-width: 575px) {
                                flex-direction: column;
                                align-items: flex-start;
                            }

                            &:not(:last-of-type) {
                                border-bottom: 1px solid #e8e8e8;
                            }

                            span {
                                font-size: 24px;
                                color: #448d2f;
                            }

                            .title {
                                margin: 0 15px 0 0;
                                font-weight: bold;
                            }

                            .object_balance-box {
                                display: flex;
                                align-items: center;

                                @media screen and (max-width: 767px) {
                                    flex-direction: column;
                                    align-items: flex-start;
                                    margin-left: 25px;
                                }

                                @media screen and (max-width: 767px) {
                                    margin-left: 0;
                                }

                                img {
                                    width: auto;
                                }

                                .form-radio {
                                    margin-left: 25px;
                                    @media screen and (max-width: 767px) {
                                        margin-left: 0;
                                    }

                                    & + p {
                                        font-size: 12px;
                                        margin-left: 10px;

                                        @media screen and (max-width: 767px) {
                                            margin-left: 0;
                                        }
                                    }

                                    label {
                                        display: flex !important;
                                        align-items: center;

                                        span {
                                            color: $primary-color;
                                            font-size: 12px;
                                            margin-left: 10px;
                                        }
                                    }

                                    [type="radio"],
                                    [type="checkbox"] {
                                        &:checked,
                                        &:not(:checked) {
                                            position: absolute;
                                            left: -9999px;

                                            & + label {
                                                position: relative;
                                                padding-left: 28px;
                                                cursor: pointer;
                                                line-height: 20px;
                                                display: inline-block;

                                                &:before {
                                                    content: '';
                                                    position: absolute;
                                                    bottom: 0;
                                                    top: 0;
                                                    margin: auto;
                                                    width: 14px;
                                                    height: 14px;
                                                    border-radius: 100%;
                                                    background: #e8e8e8;
                                                }

                                                &:after {
                                                    content: '';
                                                    width: 8px;
                                                    height: 8px;
                                                    background: #448d2f;
                                                    position: absolute;
                                                    top: 0;
                                                    bottom: 0;
                                                    margin: auto;
                                                    border-radius: 100%;
                                                    -webkit-transition: all 0.2s ease;
                                                    transition: all 0.2s ease;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }

                        .object_balance-block {
                            display: flex;
                            flex-direction: column;
                            margin-right: 50px;

                            span {
                                font-size: 24px;
                                color: #448d2f;
                                @media screen and (max-width: 575px) {
                                    margin-bottom: 15px;
                                }
                            }
                        }
                    }

                    .object-rate {
                        &_item {
                            margin-bottom: 15px;

                            &-box {
                                display: flex;
                                align-items: center;

                                @media screen and (max-width: 639px) {
                                    flex-direction: column;
                                }

                                .form-radio {
                                    width: 100%;

                                    label {
                                        font-weight: bold;
                                        color: #448d2f;
                                    }
                                }

                                .custom-radio {
                                    display: flex;
                                    align-items: center;
                                    width: 100%;

                                    @media screen and (max-width: 639px) {
                                        margin-top: 10px;
                                    }

                                    &_item {

                                        label {
                                            cursor: pointer;
                                        }

                                        input[type=radio] {
                                            display: none;
                                        }

                                        span {
                                            border: 1px solid transparent;
                                            padding: 0 15px;
                                            border-radius: 25px;
                                            max-width: 105px;
                                            width: 100%;
                                            display: block;
                                            box-sizing: border-box;
                                            text-align: center;
                                            font-size: 12px;

                                            &:hover {
                                                border-color: #448d2f;
                                            }
                                        }

                                        input[type=radio]:checked + span {
                                            border-color: #448d2f;
                                        }
                                    }
                                }
                            }

                            ul {
                                font-size: 12px;
                                padding-left: 30px;
                                margin-top: 10px;
                            }

                            .price {
                                display: flex;
                                align-items: center;
                                font-size: 12px;
                                color: #c2c2c2;
                                padding-left: 30px;
                                margin-top: 10px;

                                span {
                                    &:not(:last-of-type) {
                                        margin-right: 15px;
                                    }
                                }
                            }
                        }

                        .total_price {
                            font-weight: bold;
                        }
                    }
                }

                .primary-btn,
                .subprimary-btn {
                    max-width: 250px;
                }

                .subprimary-btn {
                    margin-top: 25px;
                    margin-bottom: 50px;
                }
            }
        }
    }
}

.favorite-list_item {
    width: 100%;
    color: #394e33;

    .object-block_list-item {
        width: 100%;
    }
}


.admin-content {
    flex-direction: column;

    .newObject-nav {
        display: flex;
        align-items: center;
        justify-content: space-around;

        .select_tab {
            font-weight: bold;
            color: #c2c2c2;
            padding: 15px 0;
            font-size: 16px;
            cursor: pointer;

            &:hover,
            &.select_tab-active {
                color: #394e33;
            }
        }
    }
}

.added-objects_list .object-block_info {
    align-items: flex-start;
}

#pac-input {
    width: 400px;
    border: 1px solid #cacaca;
    border-radius: 25px;
    outline: none;
    padding: 12px 15px 11px;
    box-sizing: border-box;
    color: #394e33;
    margin-top: 10px;

    @media screen and (max-width: 767px) {
        width: 300px;
    }

    @media screen and (max-width: 639px) {
        width: 300px;
        top: 50px !important;
        left: 10px !important;
    }

    @media screen and (max-width: 375px) {
        width: 270px;
    }
}

.calendar {
    .datepicker--cell.-selected-,
    .datepicker--cell.-in-range- {
        background: #448d2f;
        color: #fff;
    }
}