.extended_filter {
    width: 100%;
    //display: flex;
    flex-direction: column;
    display: none;

    &-row {
        display: flex;
        margin-bottom: 35px;
        width: 100%;

        @media screen and (max-width: 767px) {
            flex-direction: column;
        }
    }

    &-title {
        width: 15%;

        @media screen and (max-width: 767px) {
            margin-bottom: 25px;
            width: 100%;
        }

        p {
            color: #448d2f;
            font-weight: bold;
        }
    }

    &-options {
        width: 85%;
        display: flex;
        justify-content: space-between;
        flex-direction: column;

        @media screen and (max-width: 767px) {
            width: 100%;
        }

        &_row {
            display: flex;
            //justify-content: space-between;

            @media screen and (max-width: 767px) {
                flex-direction: column;
            }

            .newObj-price {
                display: flex;
                align-items: center;
                @media screen and (max-width: 479px) {
                    flex-direction: column;
                    align-items: flex-start;
                }
            }
        }

        &_col {
            display: flex;
            flex-direction: column;
            width: 50%;

            &.w50 {
                width: 100%;
                flex-direction: row;
                flex-wrap: wrap;

                label {
                    width: 50%;
                    display: block;
                    @media screen and (max-width: 767px) {
                        width: 100%;
                    }
                }
            }

            @media screen and (max-width: 767px) {
                width: 100%;
            }

            .custom-radio {
                display: flex;
                align-items: center;
                width: 100%;
                flex-wrap: wrap;

                &_item {
                    flex: 0 1 calc(33.33%);

                    label {
                        cursor: pointer;
                        display: flex;
                        align-items: center;
                    }

                    input[type=radio] {
                        display: none;
                    }

                    span {
                        border: 1px solid transparent;
                        padding: 0 15px;
                        border-radius: 25px;
                        max-width: 105px;
                        width: 100%;
                        display: block;
                        box-sizing: border-box;
                        text-align: center;
                        font-size: 12px;

                        &:hover {
                            border-color: #448d2f;
                        }
                    }

                    input[type=radio]:checked + span {
                        border-color: #448d2f;
                    }
                }
            }

            .custom-select {
                position: relative;
                width: 50%;

                @media screen and (max-width: 479px) {
                    width: 100%;
                }
            }

            .custom-select:after {
                content: "";
                position: absolute;
                top: 0;
                bottom: 0;
                right: 5px;
                margin: auto;
                background-image: url('../../img/front/larr.png');
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
                width: 5px;
                height: 5px;
                transform: rotate(-90deg);
            }

            .custom-select select {
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
                width: 100%;
                outline: transparent;
                border: 1px solid #dcdcdc;
                border-radius: 25px;
                box-sizing: border-box;
                padding: 4px 10px;
            }
        }

        label {
            margin-bottom: 5px;

            span.info {
                position: relative;
                display: inline-block;


                /* Tooltip text */
                .tooltiptext {
                    visibility: hidden;
                    width: 120px;
                    background-color: black;
                    color: #fff;
                    text-align: center;
                    padding: 5px 0;
                    border-radius: 6px;

                    /* Position the tooltip text - see examples below! */
                    position: absolute;
                    z-index: 1;
                }

                /* Show the tooltip text when you mouse over the tooltip container */
                &:hover .tooltiptext {
                    visibility: visible;
                    width: 120px;
                    bottom: 100%;
                    left: 50%;
                    margin-left: -60px;
                }

                &:hover {
                    g {
                        fill: #448d2f;
                    }
                }
            }
        }

        .subtitle {
            margin: 15px 0;
        }

        input[type=checkbox] {
            margin-right: 10px;
        }

        .upload-photo {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            width: 100%;

            .upload-img_box {
                display: flex;
                align-items: center;
                width: 100%;
                flex-wrap: wrap;

                &-item {
                    display: flex;
                    align-items: flex-start;
                    width: 120px;

                    img {
                        width: 80px;
                        height: auto;
                        margin: 5px;
                    }

                    button {
                        background: transparent;
                        border: none;
                    }
                }
            }

            input, textarea {
                border: 1px solid #cacaca;
                border-radius: 25px;
                outline: none;
                padding: 3px 15px;
                box-sizing: border-box;
                color: #394e33;
                background-color: transparent;
                width: 50%;
            }

            textarea {
                height: 150px;
                resize: none;

                width: 100%;
            }
        }
    }
}
