@font-face {
  font-family: 'Montserrat';
  src: url('../../fonts/Montserrat-Thin.eot');
  src: local('../../fonts/Montserrat-Thin'),
  url('../../fonts/Montserrat-Thin.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/Montserrat-Thin.woff') format('woff'),
  url('../../fonts/Montserrat-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../../fonts/Montserrat-ExtraLight.eot');
  src: local('../../fonts/Montserrat-ExtraLight'),
  url('../../fonts/Montserrat-ExtraLight.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/Montserrat-ExtraLight.woff') format('woff'),
  url('../../fonts/Montserrat-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../../fonts/Montserrat-Light.eot');
  src: local('../../fonts/Montserrat-Light'),
  url('../../fonts/Montserrat-Light.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/Montserrat-Light.woff') format('woff'),
  url('../../fonts/Montserrat-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../../fonts/Montserrat-Regular.eot');
  src: local('../../fonts/Montserrat-Regular'),
  url('../../fonts/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/Montserrat-Regular.woff') format('woff'),
  url('../../fonts/Montserrat-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../../fonts/Montserrat-Medium.eot');
  src: local('../../fonts/Montserrat-Medium'),
  url('../../fonts/Montserrat-Medium.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/Montserrat-Medium.woff') format('woff'),
  url('../../fonts/Montserrat-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../../fonts/Montserrat-SemiBold.eot');
  src: local('../../fonts/Montserrat-SemiBold'),
  url('../../fonts/Montserrat-SemiBold.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/Montserrat-SemiBold.woff') format('woff'),
  url('../../fonts/Montserrat-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../../fonts/Montserrat-Bold.eot');
  src: local('../../fonts/Montserrat-Bold'),
  url('../../fonts/Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/Montserrat-Bold.woff') format('woff'),
  url('../../fonts/Montserrat-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../../fonts/Montserrat-ExtraBold.eot');
  src: local('../../fonts/Montserrat-ExtraBold'),
  url('../../fonts/Montserrat-ExtraBold.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/Montserrat-ExtraBold.woff') format('woff'),
  url('../../fonts/Montserrat-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../../fonts/Montserrat-Black.eot');
  src: local('../../fonts/Montserrat-Black'),
  url('../../fonts/Montserrat-Black.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/Montserrat-Black.woff') format('woff'),
  url('../../fonts/Montserrat-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}