header {
    padding: 7px 0;
    -webkit-box-shadow: 0 0 29px -5px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 29px -5px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 29px -5px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 3;
}

.header-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 75px;

    @media screen and (max-width: 991px) {
        min-height: inherit;
    }

    &_logo {
        max-width: 250px;
        width: 100%;
    }

    &_menu {
        display: flex;
        align-items: center;

        @media screen and (max-width: 575px) {
            align-items: flex-end;
        }

        .menu-drop {
            margin: 0 15px;

            .menu-drop_burger {
                flex-direction: column;
            }
        }

        .profile-box {
            display: flex;
            align-items: center;

            .favorites-item {
                margin-right: 10px;
                width: 30px;
            }

            .message-box {
                position: relative;
                background-image: url("../../img/front/message.png");
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
                width: 28px;
                height: 28px;
                margin-right: 35px;

                @media screen and (max-width: 575px) {
                    width: 20px;
                    height: 20px;
                    margin-right: 10px;
                }

                p {
                    position: absolute;
                    top: -5px;
                    right: -5px;
                    background-color: #ca3636;
                    border-radius: 15px;
                    color: #fff;
                    font-size: 10px;
                    font-weight: 700;
                    padding: 0 5px;
                }
            }

            .profile-info {
                display: flex;
                align-items: center;
                margin-right: 55px;
                color: black;

                @media screen and (max-width: 575px) {
                    margin-right: 0;
                }

                img {
                    border-radius: 50%;
                    margin-right: 8px;
                    width: 55px;
                    height: 55px;
                    object-fit: cover;

                    @media screen and (max-width: 575px) {
                        width: 25px;
                        height: 25px;
                        margin-right: 0;
                    }
                }

                &_name {
                    @media screen and (max-width: 575px) {
                        display: none;
                    }

                    p:first-of-type {
                        font-weight: 700;
                    }
                }
            }
        }

        &-btn {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 160px;

            @media screen and (max-width: 991px) {
                display: none;
            }

            .subprimary-btn {
                margin-bottom: 6px;
            }
        }
    }
}
