.home {
    background-image: url("../../img/front/home_bg.jpg");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 75px;
}

.main-display {
    background-image: url("../../img/front/main_bg.jpg");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 165px;
    padding-bottom: 93px;

    @media screen and (max-width: 767px) {
        padding-top: 93px;
    }

    &_menu {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        max-width: 1140px;
        padding: 0 15px;
        z-index: 2;
        box-sizing: border-box;
        margin: 0 auto;

        @media screen and (max-width: 767px) {
            padding: 0;
        }

        @media screen and (max-width: 991px) {
            top: -25px;
        }

        @media screen and (max-width: 767px) {
            position: inherit;
        }

        @media screen and (max-width: 575px) {
            flex-wrap: wrap;
        }

        li {
            max-width: 330px;
            width: 30%;
            min-height: 140px;
            max-height: 160px;
            height: 100vh;
            border-radius: 25px;
            box-shadow: 0 0 29px -5px rgb(0 0 0 / 20%);
            background-color: #fff;
            padding: 60px 45px 16px;
            box-sizing: border-box;
            transition: .5s;
            position: relative;

            @media screen and (max-width: 991px) {
                padding: 60px 10px 10px;
            }

            @media screen and (max-width: 767px) {
                padding: 10px;
                min-height: unset;
                max-height: unset;
                height: 120px;
            }

            @media screen and (max-width: 575px) {
                width: 49%;
                margin: 0 0 15px;
            }

            &:last-of-type {
                @media screen and (max-width: 575px) {
                    width: 100%;
                    max-width: 100%;
                }
            }

            &:not(:last-of-type) {
                margin-right: 15px;

                @media screen and (max-width: 575px) {
                    margin: 0 0 15px;
                }
            }

            &:hover {
                top: 40px;
                background-color: #394d33;
                transition: .5s;
                cursor: pointer;

                @media screen and (max-width: 767px) {
                    position: inherit;
                }

                a {
                    color: #fff;

                    @media screen and (max-width: 767px) {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                    }
                }
            }

            a {
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
                width: 100%;
                height: 100%;
                color: $primary-color;

                @media screen and (max-width: 991px) {
                    font-size: 12px;
                }

                img {
                    width: auto;
                    margin-bottom: 20px;
                }
            }
        }
    }

    &_title {
        h1 {
            color: #fff;
        }

        p {
            color: #fff;
            max-width: 70%;

            @media screen and (max-width: 991px) {
                max-width: 100%;
            }
        }
    }

    &_banner-list {
        margin-top: 100px;
        display: flex;
        align-items: center;

        @media screen and (max-width: 991px) {
            flex-wrap: wrap;
            margin-top: 50px;
        }

        .banner-block {
            min-height: 140px;
            max-width: 267px;
            width: 100%;
            border-radius: 25px;
            background: #fff;
            position: relative;

            @media screen and (max-width: 991px) {
                max-width: 49%;
                margin: 0 0 15px;
            }

            @media screen and (max-width: 479px) {
                max-width: 100%;
            }

            &:not(:last-of-type) {
                margin-right: 15px;

                @media screen and (max-width: 991px) {
                    margin: 0 0 15px;
                }
            }

            img {
                height: 96px;
                object-fit: cover;
                border-radius: 25px 25px 0 0;
            }

            .obyavlenie-box_info-title {
                font-size: 14px;
                font-weight: 400;
                margin-left: 20px;
            }

            .obyavlenie-box_info-subtitle {
                font-size: 11px;
                color: #bfbfbf;
                margin-left: 20px;
            }

            &_price {
                width: fit-content;
                background: #fff;
                position: absolute;
                top: 25px;
                right: -5px;
                padding: 0 10px;

                span {
                    color: #448d2f;
                    font-weight: 700;
                }
            }
        }
    }
}

.main-filter {
    position: relative;
    top: -74px;
    margin-bottom: -50px;

    &_form {
        background-color: #fff;
        border-radius: 25px;
        box-shadow: 0 0 29px -5px rgb(0 0 0 / 20%);
        box-sizing: border-box;
        padding: 35px 65px 20px;

        @media screen and (max-width: 991px) {
            padding: 25px;
        }

        form {
            & > div {
                display: flex;
                align-items: center;
                justify-content: space-between;
                flex-direction: column;

                @media screen and (max-width: 991px) {
                    align-items: unset;
                    flex-direction: row;
                }

                @media screen and (max-width: 575px) {
                    flex-direction: column;
                }
            }

            .extended_filter {
                display: none;
            }

            .main-filter_form-btns {
                display: flex;
                flex-direction: row;
                width: 50%;
                margin: 25px auto;

                @media screen and (max-width: 767px) {
                    width: 100%;
                }

                .primary-btn:last-of-type {
                    color: #d0d0d0;
                    border-color: #d0d0d0;
                    background: transparent;
                    margin-left: 15px;

                    &:hover {
                        color: #ffffff;
                        border-color: #d0d0d0;
                        background: #d0d0d0;
                    }
                }
            }
        }

        &-row {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 25px;

            @media screen and (max-width: 991px) {
                align-items: unset;
                flex-direction: column;
                width: 50%;

                &:not(:last-of-type) {
                    margin-right: 15px;
                }
            }

            @media screen and (max-width: 575px) {
                width: 100%;
            }
        }

        &-col {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 33%;
            max-width: 310px;

            @media screen and (max-width: 991px) {
                width: 100%;
                max-width: 100%;
                flex-direction: column;
                align-items: unset;
            }

            &:not(:last-of-type) {
                margin-right: 15px;

                @media screen and (max-width: 991px) {
                    margin-bottom: 15px;
                }
            }

            .name {
                display: flex;
                align-items: center;
                margin-right: 5px;

                @media screen and (max-width: 991px) {
                    margin-bottom: 10px;
                }

                img {
                    width: auto;
                    margin-right: 5px;
                }
            }

            .custom-number {
                border: 1px solid #dcdcdc;
                border-radius: 25px;
                display: flex;
                align-items: center;
                padding: 0 5px;
                width: 130px;
                box-sizing: border-box;

                @media screen and (max-width: 991px) {
                    width: 100%;
                }

                input {
                    border: none;
                    outline: transparent;
                    text-align: center;
                    width: 100%;
                }

                span {
                    width: 30px;
                    height: 10px;
                    display: block;

                    &.input-number-decrement {
                        background-image: url('../../img/front/larr.png');
                        background-size: cover;
                        background-repeat: no-repeat;
                        background-position: center;
                        transform: rotate(90deg);
                    }

                    &.input-number-increment {
                        background-image: url('../../img/front/larr.png');
                        background-size: cover;
                        background-repeat: no-repeat;
                        background-position: center;
                        transform: rotate(-90deg);
                    }
                }
            }

            select,
            input {
                outline: transparent;
                width: 150px;
                border: 1px solid #dcdcdc;
                border-radius: 25px;
                box-sizing: border-box;
                padding: 4px 10px;

                @media screen and (max-width: 991px) {
                    width: 100%;
                }
            }

            .custom-select {
                position: relative;

                &:after {
                    content: '';
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    right: 5px;
                    margin: auto;
                    background-image: url('../../img/front/larr.png');
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: center;
                    width: 5px;
                    height: 5px;
                    transform: rotate(-90deg);
                }

                select {
                    appearance: none;
                }
            }

            .search {
                width: 100%;
            }
        }

        .subprimary-btn {
            margin: 0 auto;
            display: flex;
            align-items: center;
            justify-content: center;
            max-width: 330px;
            width: 90%;

            img {
                width: auto;
                margin-right: 15px;
            }
        }
    }

}


.list-ad_block-item_container {
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 639px) {
        flex-direction: column;
    }
}

.similar-list-ad_block {
    .title {
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 25px;
    }
}

.list-ad_block-item {
    background: #fff;
    box-shadow: 0 0 29px -5px rgb(0 0 0 / 20%);
    border-radius: 25px;
    margin-bottom: 25px;
    position: relative;

    &:hover {
        background: #f4f4f4;
    }

    & > a {
        color: $primary-color;
    }

    .rec-label {
        position: absolute;
        top: -5px;
        left: 30px;
        z-index: 1;
        display: flex;
        align-items: center;

        span:not(:last-of-type) {
            margin-right: 5px;
        }

        img {
            width: auto;
            margin-right: 10px;
        }

        .rec-label_prem {
            font-size: 12px;
            color: #fff;
            background: #0092ff;
            border-radius: 0 0 25px 25px;
            padding: 10px;
            box-sizing: border-box;
            display: flex;
            align-items: center;
            height: 50px;
            border: 1px solid #fff;
            border-top: 0;
        }

        .rec-label_serv-sel {
            font-size: 12px;
            color: #d31620;
            background: #fff;
            border-radius: 0 0 25px 25px;
            padding: 10px;
            box-sizing: border-box;
            display: flex;
            align-items: center;
            height: 50px;
        }
    }

    &_left {
        display: flex;

        @media screen and (max-width: 991px) {
            flex-direction: column;
            width: 50%;
        }

        @media screen and (max-width: 639px) {
            width: 100%;
        }

        & > a {

            img {
                width: 320px;
                margin-right: 30px;
                border-radius: 25px 0 0 25px;
                //max-height: 200px;
                height: 100%;
                -o-object-fit: cover;
                object-fit: cover;

                @media screen and (max-width: 991px) {
                    border-radius: 25px 0 0 0;
                }

                @media screen and (max-width: 639px) {
                    border-radius: 25px 25px 0 0;
                    width: 100%;
                    max-height: 350px;
                }
            }
        }

        & > img {
            width: 320px;
            margin-right: 30px;
            border-radius: 25px 0 0 25px;
            //max-height: 200px;
            height: 100%;
            -o-object-fit: cover;
            object-fit: cover;

            @media screen and (max-width: 991px) {
                border-radius: 25px 0 0 0;
            }

            @media screen and (max-width: 639px) {
                border-radius: 25px 25px 0 0;
                width: 100%;
                max-height: 350px;
            }
        }


        .info {
            padding: 12px 0 17px;
            box-sizing: border-box;
            max-width: 350px;
            width: 100%;

            @media screen and (max-width: 991px) {
                padding-left: 15px;
            }

            p:first-of-type {
                font-size: 16px;
                font-weight: bold;
            }

            &-rating {
                display: flex;
                align-items: center;
                margin-top: 20px;
                margin-bottom: 20px;

                .star-rating {
                    width: 100px;
                    margin-right: 10px;

                    & + p {
                        font-size: 12px;
                        color: #bfbfbf;
                        font-weight: 400;
                    }
                }
            }

            .advantages-list {
                margin-bottom: 18px;

                li {
                    position: relative;
                    margin-left: 15px;
                    display: block;

                    &:before {
                        content: url("../../img/front/check.png");
                        position: absolute;
                        left: -15px;
                        width: 10px;
                        height: 10px;
                    }
                }
            }

            .comfort-list {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                font-size: 12px;

                li {
                    display: flex;
                    align-items: center;
                    flex-wrap: wrap;

                    img {
                        width: 20px;
                        margin-right: 5px;

                        &:first-of-type {
                            margin-left: 15px;
                        }
                    }
                }
            }
        }
    }

    &_right {
        padding: 12px 15px 17px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: space-between;
        box-sizing: border-box;

        @media screen and (max-width: 991px) {
            width: 50%;
        }

        @media screen and (max-width: 639px) {
            width: 100%;
        }

        & > div {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
        }

        .estimate {
            color: #fff;
            font-size: 16px;
            font-weight: bold;
            padding: 10px 15px;
            box-sizing: border-box;
            border-radius: 25px;
            background: linear-gradient(0deg, rgba(99, 169, 219, 1) 0%, rgba(71, 140, 191, 1) 100%);
            width: fit-content;
            margin-bottom: 15px;
        }

        .price {

            display: flex;
            flex-direction: column;
            align-items: flex-end;

            @media screen and (max-width: 639px) {
                margin: 25px 0;
            }

            span {
                color: #448d2f;
                font-size: 16px;
                font-weight: bold;
            }
        }

        .primary-btn {
            width: 250px;
        }
    }

    &.recommend {
        .gallery {
            display: flex;
            align-items: center;

            li {
                position: relative;
                width: 20%;

                &:first-of-type img {
                    border-top-left-radius: 25px;
                }

                &:last-of-type img {
                    border-top-right-radius: 25px;
                }

                &:not(:last-of-type) {
                    margin-right: 2px;
                }

                &.radius {
                    margin-right: 0;

                    img {
                        border-top-right-radius: 25px;
                    }
                }

                .gallery_last-item {
                    background-color: rgba(255, 255, 255, .8);
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    border-top-right-radius: 25px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: $primary-color;
                }

                a {
                    img {
                        height: 140px;
                        width: 100%;
                        object-fit: cover;
                    }
                }
            }

            .hide {
                display: none;
            }
        }

        .info {
            padding-left: 15px;
        }
    }

    &.premium_item {
        border: 1px solid #0093ff;
        background-color: #e8f5ff;

        &:hover {
            background: #f4f4f4;
        }
    }

}

.list-ad_block-item.recommend .list-ad_block-item_left,
.list-ad_block-item.recommend .list-ad_block-item_right {
    width: 50%;

    @media screen and (max-width: 639px) {
        width: 100%;
    }
}

.modal-window {
    .popup-gallery {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        grid-gap: 15px;
        padding: 15px;
        max-width: 950px;
        margin: 0 auto;
        max-height: 600px;
        overflow-y: auto;

        @media screen and (max-width: 991px) {
            max-width: 767px;
        }

        @media screen and (max-width: 639px) {
            max-width: 320px;
        }

        &-item {
            width: 100%;
            height: 350px;
            position: relative;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .lightbox {
            border-radius: 15px;

            span {
                width: 90%;
                margin: 0 auto;
            }
        }
    }

    /* полоса прокрутки (скроллбар) */
    ::-webkit-scrollbar {
        width: 5px; /* ширина для вертикального скролла */
        height: 5px; /* высота для горизонтального скролла */
        background-color: #cecece;
    }

    /* ползунок скроллбара */
    ::-webkit-scrollbar-thumb {
        background-color: #52a83a;
        border-radius: 9em;
    }

    ::-webkit-scrollbar-thumb:hover {
        background-color: #52a83a;
    }

    /* Стрелки */

    ::-webkit-scrollbar-button:vertical:start:decrement {
        //display: none;
        background: #fff;
        height: 50px;
    }

    ::-webkit-scrollbar-button:vertical:end:increment {
        //display: none;
        background: #fff;
        height: 50px;
    }

    ::-webkit-scrollbar-button:horizontal:start:decrement {
        //display: none;
        background: #fff;
        width: 50px;
    }

    ::-webkit-scrollbar-button:horizontal:end:increment {
        //display: none;
        background: #fff;
        width: 50px;
    }
}

.map_marker-info {
    color: $primary-color;

    h1 {
        margin-top: 0;
    }

    img {
        max-width: 100px;
        max-height: 100px;
        -o-object-fit: cover;
        object-fit: cover;
        margin: 20px auto 0;
        display: block;
    }

    ul, li {
        list-style: none;
    }
}