.auth {
  background-image: url("../../img/front/login_bg.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  &-box {
    width: 100%;
    max-width: 410px;
    margin: 142px auto;
    background: #fff;
    border-radius: 15px;

    padding: 28px 48px 24px;

    -webkit-box-shadow: 0 0 29px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 29px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 29px 2px rgba(0, 0, 0, 0.2);

    box-sizing: border-box;

    @media screen and (max-width: 479px) {
      padding: 28px 24px 24px;
    }

    &_header {
      color: #52a73a;
      font-size: 18px;
      font-weight: 700;
      text-align: center;
      line-height: 24px;
    }

    &_subheader {
      color: #52a73a;
      font-size: 16px;
      text-align: center;
      font-weight: 400;
      line-height: 24px;
      margin-bottom: 15px;
    }

    &_body {
      form {
        .form-group {
          label {
            line-height: 33px;
          }

          &_input-box {
            margin-bottom: 14px;

            input {
              width: 100%;
              border-radius: 14px;
              outline: transparent;
              background-color: #ffffff;
              border: 1px solid #e8e8e8;
              padding: 5px 15px 6px;
              box-sizing: border-box;
            }

            input[type="checkbox"] {
              width: inherit;
            }

            .invalid-feedback {
              font-size: 10px;
              color: red;
              display: none;
            }
          }
        }

        .primary-btn {
          margin-top: 11px;
        }

        .confirmation_text {
          color: #a4a4a4;
          font-size: 10px;
          text-align: center;
        }
      }
    }
  }
}