$font-stack: Montserrat, sans-serif;
$primary-color: #394e33;
$primary-size: 14px;

@mixin reset {
    margin: 0;
    padding: 0;
}


html,
body {
    height: 100%;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.content {
    flex: 1 0 auto;
}

footer {
    flex: 0 0 auto;
}

body {
    position: relative;
    font-family: $font-stack;
    color: $primary-color;
    font-size: $primary-size;
    background: #f5f5f5;
}

.container {
    max-width: 1110px;
    margin: 0 auto;
    padding: 0 15px;
}

img {
    width: 100%;
}

ul {
    list-style: none;
}

body, a, ul, li, p {
    @include reset;

}

button {
    cursor: pointer;
}

a {
    text-decoration: none;
}

.primary-btn {
    display: block;
    border: 1px solid #448d2f;
    border-radius: 25px;
    background-color: transparent;
    color: #52a73a;
    padding: 7px 10px 9px;
    font-size: $primary-size;
    font-family: $font-stack;
    width: 100%;
    text-align: center;
    box-sizing: border-box;

    &:hover {
        background: linear-gradient(0deg, rgba(79, 141, 62, 1) 0%, rgba(82, 168, 58, 1) 100%);
        color: #fff;
    }
}


.subprimary-btn {
    display: block;
    border: 1px solid transparent;
    border-radius: 25px;
    background: linear-gradient(0deg, rgba(79, 141, 62, 1) 0%, rgba(82, 168, 58, 1) 100%);
    color: #ffffff;
    padding: 7px 10px 9px;
    font-size: $primary-size;
    font-family: $font-stack;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
    cursor: pointer;

    &:hover {
        background: transparent;
        color: #52a73a;
        border-color: #52a73a;
    }
}

/*---admin---*/
.admin-wrapper {
    display: flex;

    @media screen and (max-width: 991px) {
        flex-direction: column;
    }
}

.admin-content {
    width: 100%;
    padding-top: 42px;
    padding-left: 14px;

    @media screen and (max-width: 991px) {
        padding: 0;
    }
}

.cabinet-wrapper {
    display: flex;

    @media screen and (max-width: 991px) {
        flex-direction: column;
    }
}

/*---admin---*/
/*-----custom-radio-----*/
.form-radio {
    [type="radio"],
    [type="checkbox"] {
        &:checked,
        &:not(:checked) {
            position: absolute;
            left: -9999px;

            & + label {
                position: relative;
                padding-left: 28px;
                cursor: pointer;
                line-height: 20px;
                display: inline-block;

                &:before {
                    content: '';
                    position: absolute;
                    left: 0;
                    top: 3px;
                    margin: auto;
                    width: 14px;
                    height: 14px;
                    border-radius: 100%;
                    background: #e8e8e8;
                }

                &:after {
                    content: '';
                    width: 8px;
                    height: 8px;
                    background: #448d2f;
                    position: absolute;
                    top: 6px;
                    left: 3px;
                    margin: auto;
                    border-radius: 100%;
                    -webkit-transition: all 0.2s ease;
                    transition: all 0.2s ease;
                }
            }
        }

        &:not(:checked) {
            & + label {
                &:after {
                    opacity: 0;
                    -webkit-transform: scale(0);
                    transform: scale(0);
                }
            }
        }

        &:checked {
            & + label {
                &:after {
                    opacity: 1;
                    -webkit-transform: scale(1);
                    transform: scale(1);
                }
            }
        }
    }
}

/*-----custom-radio-----*/

/*-----custom-check-----*/
.form-check {
    [type="checkbox"] {
        &:checked,
        &:not(:checked) {
            position: absolute;
            left: -9999px;

            & + label {
                position: relative;
                padding-left: 28px;
                cursor: pointer;
                line-height: 20px;
                display: inline-block;

                &:before {
                    content: '';
                    position: absolute;
                    left: 0;
                    top: 3px;
                    margin: auto;
                    width: 14px;
                    height: 14px;
                    border-radius: 0;
                    background: #e8e8e8;
                }

                &:after {
                    content: "";
                    width: 4px;
                    height: 7px;
                    background: transparent;
                    border-left: 1px solid #448d2f;
                    border-bottom: 1px solid #448d2f;
                    position: absolute;
                    top: 4px;
                    left: 4px;
                    margin: auto;
                    border-radius: 0;
                    transition: all 0.2s ease;
                }
            }
        }

        &:not(:checked) {
            & + label {
                &:after {
                    border: 0;
                    -webkit-transform: rotate(-45deg);
                    transform: rotate(-45deg);
                }
            }
        }

        &:checked {
            & + label {
                &:after {
                    opacity: 1;
                    -webkit-transform: rotate(-45deg);
                    transform: rotate(-45deg);
                }
            }
        }
    }
}

/*-----custom-check-----*/

/*-----rating-----*/
.star-rating {
    display: flex;
    flex-direction: row-reverse;
    font-size: 1.5em;
    justify-content: space-around;
    text-align: center;
    line-height: 1rem;

    input {
        display: none;
    }

    label {
        color: #ccc;
        cursor: pointer;

        &:hover,
        &:hover ~ label {
            color: #f90;
        }
    }

    :checked ~ label {
        color: #fc0;
    }
}

/*-----rating-----*/

/*-----sidebar-menu-----*/

.sidebar-menu {
    /* 100% width will work for mobile menu, 300px for example */
    font-size: 16px;
    display: none;

    @media screen and (max-width: 991px) {
        display: block;
    }

    label {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 40px;
        height: 40px;
        padding: 3px 0 4px;
        box-sizing: border-box;

        span {
            width: 30px;
            height: 5px;
            background: red;
            display: block;
            border-radius: 25px;

            &:first-child {
                background: linear-gradient(0deg, rgba(83, 165, 58, 1) 0%, rgba(83, 168, 57, 1) 100%);
            }

            &:nth-child(2) {
                background: linear-gradient(0deg, rgba(80, 151, 60, 1) 0%, rgba(81, 157, 59, 1) 100%);
            }

            &:last-child {
                background: linear-gradient(0deg, rgba(79, 141, 62, 1) 0%, rgba(79, 144, 61, 1) 100%);
            }
        }
    }


    input {
        display: none;

        &:checked ~ article {
            transition: height 0.5s ease-in-out;
            height: 241px;
        }
    }

    article {
        overflow: hidden;
        height: 0;
        position: absolute;
        width: 100%;
        left: 0;
        right: 0;
        margin: auto;
        z-index: 1;
        transition: height 0.3s ease-in-out;
        box-shadow: 0 0 29px -5px rgb(0 0 0 / 20%);
        background: #fff;

        ul {
            height: 100%;
            margin: 0;
            list-style: none;
            padding: 0 25px;

            li {
                padding: 14px 0;
                border-top: 1px solid #e8e8e8;

                &:first-child {
                    padding-top: 16px;
                    border-top: 0;
                }

                &.sidebar-menu_active,
                &:hover {
                    a {
                        color: #448d2f;
                    }
                }

                a {
                    color: $primary-color;
                    text-decoration: none;
                    font-size: 14px;
                    font-weight: bold;
                }
            }
        }
    }
}

/*-----sidebar-menu-----*/

/*-----tabs-----*/
.tabs {
    display: flex;
    flex-wrap: wrap;

    & > section {
        order: 999;
        width: 100%;
        display: none;
        padding-top: 25px;

        @media screen and (max-width: 991px) {
            overflow-x: scroll;
        }
    }

    & > input {
        opacity: 0;
        display: none;
    }

    & > input[type=radio] {
        &:checked {
            & + label {
                background: #448d2f;
                color: #fff;

                & + section {
                    display: unset;
                }
            }
        }
    }

    & > label {
        padding: 0.5em 1em;
        background: transparent;
        border: 1px solid #448d2f;
        width: 160px;
        margin-right: 30px;
        border-radius: 25px;
        text-align: center;
        color: $primary-color;

        @media screen and (max-width: 767px) {
            margin: 0 auto;
            width: 50%;
        }

        &:not(:last-of-type) {
            @media screen and (max-width: 767px) {
                margin-bottom: 15px;
            }
        }

        span {
            color: #cfcfcf;
            margin-left: 5px;
        }
    }
}

/*-----tabs-----*/

/*-----modal-----*/
.modal-window {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    //visibility: hidden;
    //opacity: 0;
    //transition: all 0.3s;
    display: none;

    &:target {
        //visibility: visible;
        //opacity: 1;
        pointer-events: auto;
    }

    & > div {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 30px 15px;
        background: white;
        border-radius: 15px;
        box-shadow: 0 0 25px -5px rgb(0 0 0 / 30%);
        box-sizing: border-box;
    }
}

.modal-close {
    color: #bfbfbf;
    position: absolute;
    top: 10px;
    right: 15px;
    text-align: center;
    width: fit-content;
    text-decoration: none;

    &:hover {
        color: black;
    }

    span {
        color: #448d2f;
    }
}

/*-----modal-----*/

/*-----lightbox-----*/

.lightbox {
    /* Default to hidden */
    display: none;

    /* Overlay entire screen */
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    /* A bit of padding around image */
    padding: 1em;

    /* Translucent background */
    background: rgba(0, 0, 0, 0.3);
}

/* Unhide the lightbox when it's the target */
.lightbox:target {
    display: block;
}

.lightbox span {
    /* Full width and height */
    display: block;
    width: 100%;
    height: 100%;

    /* Size and position background image */
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

/*-----lightbox-----*/

/*-----datepcker-----*/
.datepickers-container {
    z-index: 999;
}

.datepicker {
    .datepicker--cell {
        &.-disabled- {
            background: rgb(255, 0, 0, 0.7);
        }
    }
}

/*-----datepcker-----*/

.file-upload {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.file-upload > input[type='file'] {
    display: none
}

.file-upload > label {
    font-size: 14px;
    font-weight: 300;
    cursor: pointer;
    outline: 0;
    user-select: none;
    color: $primary-color;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input_error {
    border: 1px solid red !important;
}

.opacity05 {
    opacity: 0.5;
}

._view_object_map, ._route {
    cursor: pointer;
}


/*-----menu-drop-----*/
.menu-drop {
    position: relative;
    height: 40px;
    width: 40px;
    margin-top: -20px;

    &_burger {
        flex-direction: row;
        width: 100%;
        height: 100%;
        padding: 0;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: space-around;

        span {
            width: 5px;
            height: 5px;
            background: #438b2e;
            display: block;
            border-radius: 25px;
        }
    }

    &_list {
        z-index: 1;
        display: none;
        list-style: none;
        background-color: #fff;
        line-height: 36px;
        position: absolute;
        top: 30px;
        right: 0;
        width: 225px;
        border-radius: 15px;
        padding: 15px 25px;
        box-sizing: border-box;
        box-shadow: 0 0 29px -5px rgb(0 0 0 / 20%);
        -webkit-animation-name: zoomIn;
        animation-name: zoomIn;
        -webkit-animation-duration: .5s;
        animation-duration: .5s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;

        &-item {
            a {
                color: #394e33;
                text-decoration: none;
                font-weight: 400;
                display: block;

                &:hover {
                    font-weight: 700;
                }
            }
        }
    }

    &:hover .menu-drop_list {
        display: block;
    }
}

/*-----menu-drop-----*/

.favorite-ad_block {
    .form-check label {
        &:hover {
            p {
                opacity: 1;
            }
        }

        p {
            opacity: 0;
            color: #cfcfcf;
            font-size: 12px;
        }
    }

    .form-check [type=checkbox]:checked + label, .form-check [type=checkbox]:not(:checked) + label {
        padding-right: 35px;
        padding-left: unset;
        padding-top: 5px;
    }

    .form-check [type=checkbox]:checked + label:before, .form-check [type=checkbox]:not(:checked) + label:before {
        right: 0;
        left: unset;
        background-color: transparent;
        border: none;
        width: 25px;
        height: 25px;
        background-image: url("../../img/front/favorite-ad_gray.svg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    .form-check [type=checkbox]:checked + label:after, .form-check [type=checkbox]:not(:checked) + label:after {
        left: unset;
        right: 4px;
        width: 25px;
        height: 25px;
        transition: none;
    }

    .form-check [type=checkbox]:checked + label:after {
        border: 0;
        transform: none;
        background-image: url(../../img/front/favorite-ad_green.svg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        width: 25px;
        height: 25px;
        right: 0;
        top: 3px;
    }

}