.an_card {
    padding-bottom: 100px;
    background-image: url("../../img/front/rest_bg.jpg");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;

    .rest-template {
        padding-top: 135px;

        .main-title {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 15px;

            @media screen and (max-width: 639px) {
                flex-direction: column-reverse;
                justify-content: space-between;
                align-items: flex-start;
                margin-bottom: 15px;
            }

            .title {
                font-weight: bold;
                font-size: 20px;
                margin: 0;
            }

            & > div {
                display: flex;
                align-items: baseline;

                @media screen and (max-width: 639px) {
                    flex-direction: column;
                    align-items: flex-start;
                }

                .rating {
                    margin-left: 15px;
                    margin-right: 15px;
                    display: flex;
                    align-items: center;

                    @media screen and (max-width: 639px) {
                        margin-left: 0;
                    }

                    p {
                        font-size: 12px;
                        color: #bfbfbf;
                        margin-left: 15px;
                    }
                }
            }

            .estimate {
                color: #fff;
                font-size: 16px;
                font-weight: bold;
                padding: 10px 15px;
                box-sizing: border-box;
                border-radius: 25px;
                background: linear-gradient(0deg, #63a9db 0%, #478cbf 100%);
                width: -webkit-fit-content;
                width: -moz-fit-content;
                width: fit-content;

                @media screen and (max-width: 639px) {
                    margin-left: auto;
                }
            }

            .favorite-ad_block .form-check [type=checkbox]:checked + label, .favorite-ad_block .form-check [type=checkbox]:not(:checked) + label {
                padding-right: unset;
                padding-left: 35px;
                padding-top: 5px;
            }

            .favorite-ad_block .form-check [type=checkbox]:checked + label:before, .favorite-ad_block .form-check [type=checkbox]:not(:checked) + label:before {
                right: unset;
                left: 0;
            }

            .favorite-ad_block .form-check [type=checkbox]:checked + label:after, .favorite-ad_block .form-check [type=checkbox]:not(:checked) + label:after {
                left: 0;
                right: unset;
            }
        }

        .submain-title {
            display: flex;
            align-items: center;

            p {
                margin-right: 25px;
            }

            a {
                color: #448d2f;
                display: flex;
                align-items: center;

                img {
                    width: auto;
                    margin-right: 5px;
                }
            }
        }

        .info {
            padding-top: 25px;

            &-row {
                display: flex;
                margin-bottom: 30px;

                @media screen and (max-width: 767px) {
                    flex-direction: column;
                }
            }

            &-slider {
                max-width: 405px;
                width: 100%;
                position: relative;

                @media screen and (max-width: 767px) {
                    max-width: 100%;
                }

                .rec-label {
                    position: absolute;
                    top: -5px;
                    left: 30px;
                    z-index: 1;
                    display: flex;
                    align-items: center;

                    span:not(:last-of-type) {
                        margin-right: 5px;
                    }

                    .rec-label_serv-sel {
                        font-size: 12px;
                        color: #d31620;
                        background: #fff;
                        border-radius: 0 0 25px 25px;
                        padding: 10px;
                        box-sizing: border-box;
                        display: flex;
                        align-items: center;
                        height: 50px;

                        img {
                            width: auto;
                            margin-right: 10px;
                        }
                    }

                    .rec-label_prem {
                        font-size: 12px;
                        color: #fff;
                        background: #0092ff;
                        border-radius: 0 0 25px 25px;
                        padding: 10px;
                        box-sizing: border-box;
                        display: flex;
                        align-items: center;
                        height: 50px;
                        border: 1px solid #fff;
                        border-top: 0;

                        img {
                            width: auto;
                            margin-right: 10px;
                        }
                    }
                }

                .product-imgs {
                    .img-display {
                        overflow: hidden;

                        .img-showcase {
                            display: flex;
                            width: 100%;
                            transition: all 0.5s ease;

                            img {
                                min-width: 100%;
                                height: 350px;
                                object-fit: cover;
                            }
                        }
                    }

                    .img-select {
                        top: -20px;
                        position: relative;
                        display: flex;
                        flex-wrap: wrap;

                        .img-item {
                            width: 35px;
                            margin: 5px;

                            &:hover {
                                opacity: 0.8;
                            }

                            a {
                                display: block;
                                height: 35px;

                                img {
                                    height: 100%;
                                    width: 100%;
                                    object-fit: cover;
                                }
                            }
                        }
                    }
                }
            }

            &-main {
                width: 100%;

                .comfort {
                    box-sizing: border-box;
                    padding: 30px;
                    border-top: 1px solid #bfbfbf;
                    border-bottom: 1px solid #bfbfbf;

                    &-list {
                        display: flex;
                        justify-content: space-between;
                        flex-direction: column;

                        li {
                            display: flex;
                            align-items: center;
                            flex-wrap: wrap;

                            &:not(:last-of-type) {
                                margin-bottom: 10px;
                            }

                            img {
                                width: 20px;
                                margin-right: 5px;

                                &:first-of-type {
                                    margin-left: 15px;
                                }
                            }
                        }
                    }
                }

                .buttons-box {
                    display: flex;
                    align-items: center;
                    padding: 15px;
                    box-sizing: border-box;
                    justify-content: space-between;

                    @media screen and (max-width: 991px) {
                        flex-direction: column;
                    }

                    @media screen and (max-width: 767px) {
                        padding: 15px 0;
                    }

                    a {
                        width: 45%;

                        @media screen and (max-width: 991px) {
                            width: 100%;
                        }

                        &:first-of-type {
                            @media screen and (max-width: 991px) {
                                margin-bottom: 15px;
                            }
                        }
                    }
                }

                .rules-price {
                    padding: 30px;
                    box-sizing: border-box;
                    display: flex;
                    align-items: flex-end;

                    @media screen and (max-width: 575px) {
                        flex-direction: column;
                        align-items: flex-start;
                    }

                    .rules {
                        margin-right: 30px;
                        @media screen and (max-width: 575px) {
                            margin-bottom: 30px;
                        }

                        li {
                            font-weight: bold;
                            display: flex;
                            align-items: center;
                            justify-content: space-between;

                            &:first-of-type {
                                text-decoration: underline;
                            }

                            span {
                                font-weight: normal;
                            }
                        }
                    }

                    .price {
                        span {
                            font-weight: bold;
                            color: #448d2f;
                        }
                    }
                }

                .slider-testimonials {
                    width: 95%;
                    margin: 40px 0 0 auto;

                    @media screen and (max-width: 767px) {
                        margin: 40px auto;
                        width: 100%;
                    }
                }
            }

            .testimonials-text {
                display: flex;
                flex-direction: column;
                width: 45%;

                @media screen and (max-width: 767px) {
                    width: 100%;
                }

                .slider-testimonials {
                    width: 90%;
                    min-height: 120px;
                    margin-bottom: 30px;

                    @media screen and (max-width: 767px) {
                        width: 100%;
                    }
                }

                .text {
                    width: 100%;
                }
            }

            .text {
                margin-right: 30px;
                width: 50%;
                word-break: break-all;

                @media screen and (max-width: 767px) {
                    width: 100%;
                    margin-bottom: 30px;
                }

                .title {
                    font-size: 16px;
                    font-weight: bold;
                    margin-bottom: 15px;
                }
            }

            .video {
                width: 45%;

                @media screen and (max-width: 767px) {
                    width: 100%;
                }

                .hs-responsive-embed-youtube {
                    position: relative;
                    padding-bottom: 56.25%; /* 16:9 Aspect Ratio */
                    padding-top: 25px;
                }

                .hs-responsive-embed-youtube iframe {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100% !important;
                    height: 100% !important;
                }
            }

            .calendar {
                margin-left: auto;

                &.info-calendar {
                    .datepicker--content {
                        pointer-events: none;
                    }
                }

                @media screen and (max-width: 767px) {
                    margin: 0 auto;
                }
            }
        }

        .type-number {
            padding: 10px;
            box-sizing: border-box;
            background: #fff;
            border-radius: 15px;
            margin-bottom: 50px;

            .d-table {
                display: table;
                width: 100%;
                border-collapse: collapse;

                &.type-number_desktop {
                    @media screen and (max-width: 767px) {
                        display: none;
                    }
                }

                img {
                    width: auto;
                    margin: 0 5px;
                }

                .d-tr {
                    display: table-row;

                    .d-td {
                        display: table-cell;
                        vertical-align: middle;

                        &:not(.no-p) {
                            padding: 4px;
                        }

                        &.title {
                            color: #448d2f;
                            font-weight: bold;
                            font-size: 16px;
                        }

                        &.text {
                            p {
                                line-height: 2em;

                                &:first-of-type {
                                    font-weight: bold;
                                }
                            }
                        }

                        &.human {
                            color: #b2b2b2;
                        }

                        &.room-price {
                            ul {
                                li {
                                    span {
                                        color: #448d2f;
                                        font-weight: bold;
                                        font-size: 16px;
                                    }
                                }
                            }
                        }

                        &.photo {

                            & > div {
                                position: relative;
                                margin: 0 auto;
                                display: flex;
                                justify-content: center;
                                align-items: center;

                                img {
                                    width: 55px;
                                    height: 40px;
                                    object-fit: cover;
                                }

                                .zoom-in {
                                    position: absolute;
                                    top: 0;
                                    left: 0;
                                    width: 100%;
                                    height: 100%;
                                    align-items: center;
                                    justify-content: center;
                                    display: none;

                                    img {
                                        width: 25px;
                                        object-fit: contain;
                                    }
                                }

                                &:hover {
                                    .zoom-in {
                                        display: flex;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            &_mobile {
                @media screen and (min-width: 767px) {
                    display: none;
                }

                .item {
                    &:not(:last-of-type) {
                        margin-bottom: 25px;
                    }

                    .row {
                        display: flex;

                        .photo {
                            position: relative;
                            margin-right: 25px;
                            display: flex;
                            justify-content: center;
                            align-items: center;

                            img {
                                width: 100%;
                                max-width: 250px;
                                max-height: 150px;
                                height: 100vh;
                                -o-object-fit: cover;
                                object-fit: cover;

                                @media screen and (max-width: 479px) {
                                    max-width: inherit;
                                    max-height: inherit;
                                    width: 55px;
                                    height: 40px;
                                }
                            }

                            span {
                                position: absolute;
                                top: 0;
                                left: 0;
                                width: 100%;
                                height: 100%;
                                align-items: center;
                                justify-content: center;
                                display: none;

                                img {
                                    width: 25px;
                                    object-fit: contain;
                                }
                            }

                            &:hover {
                                span {
                                    display: flex;
                                }
                            }
                        }

                        .info {
                            padding: 0;

                            .title {
                                color: #448d2f;
                                font-size: 16px;
                                font-weight: bold;
                                margin-bottom: 25px;
                            }

                            .human {
                                color: #b2b2b2;

                                img {
                                    width: auto;
                                }
                            }

                            .room-price {
                                margin-top: 10px;

                                @media screen and (max-width: 479px) {
                                    margin-bottom: 15px;
                                }

                                li {
                                    span {
                                        color: #448d2f;
                                        font-weight: bold;
                                        font-size: 16px;

                                        @media screen and (max-width: 575px) {
                                            font-size: 14px;
                                        }
                                    }
                                }
                            }
                        }

                        .description {
                            width: 100%;

                            .title {
                                color: #448d2f;
                                font-size: 16px;
                                font-weight: bold;
                                margin-top: 25px;
                                margin-bottom: 25px;
                            }

                            p:nth-of-type(1) {
                                font-weight: bold;
                            }

                            img {
                                width: auto;
                            }

                            .primary-btn {
                                margin-top: 25px;
                            }
                        }
                    }
                }
            }
        }

        .list-ad_block-item {
            height: 280px;

            @media screen and (max-width: 991px) {
                height: auto;
            }

            &_left {
                height: 280px;

                & > img {
                    height: auto;
                    object-fit: cover;
                    object-position: center;

                }
            }
        }

        .similar-offers_banner-list {
            .title {
                font-size: 16px;
                font-weight: bold;
                margin-bottom: 25px;
            }

            &_container {
                display: flex;
                align-items: center;
                flex-wrap: wrap;

                @media screen and (max-width: 991px) {
                    flex-wrap: wrap;
                }

                .banner-block {
                    min-height: 150px;
                    border-radius: 25px;
                    background: #fff;
                    position: relative;
                    flex: 1 1 calc(33.33% - 15px);
                    margin: 5px;
                    max-width: 360px;

                    @media screen and (max-width: 991px) {
                        flex: 1 1 calc(50% - 30px);
                        max-width: 50%;
                    }

                    @media screen and (max-width: 639px) {
                        flex: 1 1 calc(100%);
                        max-width: 100%;
                    }

                    img {
                        height: 96px;
                        object-fit: cover;
                        border-radius: 25px 25px 0 0;
                    }

                    .obyavlenie-box_info-title {
                        font-size: 14px;
                        font-weight: 400;
                        margin-left: 15px;
                    }

                    .obyavlenie-box_info-subtitle {
                        font-size: 11px;
                        color: #bfbfbf;
                        margin-left: 15px;
                    }

                    &_price {
                        width: fit-content;
                        background: #fff;
                        position: absolute;
                        top: 25px;
                        right: -5px;
                        padding: 0 10px;

                        span {
                            color: #448d2f;
                            font-weight: 700;
                        }
                    }
                }
            }
        }
    }

    .cottage-template {
        .info-row {
            .rules-price {
                padding: 0 0 30px;
                box-sizing: border-box;
                display: flex;
                justify-content: space-between;
                width: 100%;

                @media screen and (max-width: 767px) {
                    flex-direction: column;
                }

                .rules {
                    width: 30%;

                    @media screen and (max-width: 767px) {
                        width: 100%;
                        margin: 30px 0;
                    }

                    li {
                        font-weight: bold;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        width: 100%;

                        &:first-of-type {
                            text-decoration: underline;
                        }

                        span {
                            font-weight: normal;
                        }
                    }
                }

                .description {
                    width: 30%;

                    @media screen and (max-width: 767px) {
                        width: 100%;
                    }

                    li {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;

                        p {
                            font-weight: bold;
                        }
                    }
                }

                .price {
                    width: 30%;

                    @media screen and (max-width: 767px) {
                        width: 100%;
                    }

                    li {
                        display: flex;
                        align-items: center;
                        justify-content: flex-end;

                        &:last-of-type {
                            margin-top: 30px;
                        }
                    }

                    span {
                        font-weight: bold;
                        color: #448d2f;
                        margin-left: 10px;
                    }
                }
            }
        }
    }

    .cottageReservation-container {
        display: flex;

        @media screen and (max-width: 767px) {
            flex-direction: column;
            align-items: center;
        }

        .cottageReservation-form {
            margin-right: 30px;

            @media screen and (max-width: 767px) {
                margin: 0;
            }

            &_row {
                display: flex;

                @media screen and (max-width: 479px) {
                    flex-direction: column;
                }

                label {
                    display: flex;
                    flex-direction: column;
                    width: 100%;

                    &:not(:first-of-type) {
                        margin-left: 15px;

                        @media screen and (max-width: 479px) {
                            margin: 0;
                        }
                    }

                    input {
                        outline: transparent;
                        max-width: 400px;
                        border: 1px solid #dcdcdc;
                        border-radius: 25px;
                        box-sizing: border-box;
                        padding: 4px 10px;
                        margin: 10px 0;

                        @media screen and (max-width: 767px) {
                            max-width: 100%;
                        }
                    }

                    small {
                        color: #bfbfbf;
                        width: 50%;

                        @media screen and (max-width: 479px) {
                            width: 100%;
                        }
                    }
                }
            }
        }

        .calendar {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            @media screen and (max-width: 767px) {
                margin-top: 25px;
            }

            button {
                @media screen and (max-width: 767px) {
                    margin-top: 25px;
                }
            }
        }
    }
}

#open-modal_cottageReservation {
    & > div {
        box-sizing: border-box;

        @media screen and (max-width: 479px) {
            width: 300px;
        }
    }
}


/*----------*/
#slides {
    position: relative;
    min-height: 120px;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.slide {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 1;

    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;

    .name {
        margin-bottom: 25px;

        img {
            width: auto;
            margin: 0 10px;
        }
    }
}

.showing {
    opacity: 1;
    z-index: 2;
}


.controls {
    display: none;
}

.slide {
    padding: 10px;
    box-sizing: border-box;
    background: #fff;
    border-radius: 15px;
}

.slider-testimonials {
    position: relative;
    z-index: 0;
}

.buttons {
    position: absolute;
    right: 5px;
    top: 5px;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;

    .controls {
        border: none;
        cursor: pointer;
        background: transparent;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #next {
        transform: rotate(180deg);
    }
}