.cabinet {
  &-sidebar {
    width: 215px;
    margin-top: 30px;
    padding-right: 15px;
    box-sizing: border-box;
    border-right: 1px solid #e8e8e8;

    @media screen and (max-width: 991px) {
      border: none;
      width: fit-content;
    }

    .sidebar_name {
      padding-bottom: 20px;
      margin-bottom: 20px;
      border-bottom: 1px solid #e8e8e8;

      p:first-of-type {
        font-weight: 700;
        font-size: 16px;
      }
    }

    .sidebar-list {

      @media screen and (max-width: 991px) {
        display: none;
      }

      &_item {
        &:not(:last-of-type) {
          margin-bottom: 5px;
        }

        &:last-of-type {
          margin-top: 20px;
          padding-top: 20px;
          border-top: 1px solid #e8e8e8;
          padding-bottom: 20px;
        }

        a {
          color: #394e33;
          position: relative;
        }

        &-active,
        &:hover {
          a {
            color: #448d2f;
            margin-left: 15px;

            &:before {
              content: url("../../img/admin/arrow.png");
              position: absolute;
              top: 0;
              left: -15px;
              bottom: 0;
              margin: auto;
              transform: rotate(90deg);
            }
          }
        }
      }
    }
  }
}

.sidebar-menu {
  display: none;

  input {
    &:checked ~ article {
      height: 241px;
    }
  }

  @media screen and (max-width: 991px) {
    display: block;
  }

}